.submitType {
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  width: 100%;
  height: 38px;
}
.submitType input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */