@import "../style/mixin";
@import "../style/variable";



.submitType{
    border: $border;
    border-radius: 10px;
    width: 100%;
    height: 38px;
    input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        border-radius: 10px;
        background: transparent;
        color: #ffffff;
        cursor: pointer;
    }
}