.paginationWrapper {
  color: #333333;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-evenly;
  width: 180px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  cursor: pointer;
}
.paginationWrapper .firstPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  height: 100%;
  padding: 5px;
  border-right: 1px solid #e4e4e4;
}
.paginationWrapper .decrementPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  height: 100%;
  padding: 5px;
  border-right: 1px solid #e4e4e4;
}
.paginationWrapper .currentPage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e4e4e4;
  flex-basis: 25%;
  height: 100%;
  padding: 5px;
}
.paginationWrapper .currentPage input {
  color: #333333;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  margin-top: 2px;
}
.paginationWrapper .currentPage input[type=number]::-webkit-inner-spin-button,
.paginationWrapper .currentPage input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.paginationWrapper .totalPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  font-size: 16px;
  height: 100%;
  padding: 5px;
}
.paginationWrapper .incrementPage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #e4e4e4;
  flex-basis: 25%;
  height: 100%;
  padding: 5px;
}
.paginationWrapper .lastPage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #e4e4e4;
  flex-basis: 25%;
  height: 100%;
  padding: 5px;
}/*# sourceMappingURL=index.css.map */