@import "../style/mixin";
@import "../style/variable";

*,
*:before,
*:after {
  @include initialCode;
}

@mixin paginate_block {
  outline: 0;
  font-family: var(--supernormal-font);
  font-size: 12px;
  font-weight: var(--medium);
  min-width: 5px;
  color: var(--brightness-20);
  height: 100%;
  align-content: center;
  margin-left: -1px;
  display: grid;
  border: 1px solid var(--brightness-86);
}

.paginationWrapper {
  margin-top: 20px;
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: 28px 28px fit-content(100px) fit-content(100px) 28px 28px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 28px;
  border-radius: 5px;
  span{
    @include elementCenter;
  }
  .firstPage {
    @include paginate_block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    padding: 7px;
  }
  .decrementPage {
    @include paginate_block;
    cursor: pointer;
  }
  .currentPage {
    @include paginate_block;
    width: 28px;
    height: 100%;
    @include elementCenter;
    input {
      border: none;
      outline: none;
      width: 100%;
      font-family: var(--supernormal-font);
      color: var(--brightness-20);
      font-size: 12px;
      text-align: center;
      font-weight: var(--medium);
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
      
    }
    input[type=number] {
      -moz-appearance: textfield;
    }
  }
  .totalPage {
    @include paginate_block;
    padding: 0 7px;
  }
  .incrementPage {
    @include paginate_block;
    cursor: pointer;
    transform: rotate(180deg);
  }
  .lastPage {
    cursor: pointer;
    @include paginate_block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transform: rotate(180deg);
  }
}
