@import "../style/mixin";
@import "../style/variable";




// slide in

.slideWrapperHidden{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,.8);
    animation: 0.2s ease-in-out 1 slideHidden;
    overflow: hidden;
    .menuSlideInRight{
      position: absolute;
      top: 0;
      right: 0;
      width: 300px;
      height: 100%;
      background-color: #ffffff;
      box-shadow: 4px 0 10px 0 rgb(0 0 0 / 40%);
      transform: translate(300px,0);
      transition: 0.2s ease;
      overflow: hidden;
      .menuTitle{
        width: 100%;
        height: 40px;
        background-color: #232F3E;
        color: #ffffff;
        @include elementCenter;
      }
       .menuSlide{
          width: 100%;
          height: 100%;
          overflow-y: scroll;
            overflow-x: hidden;
          .allName{
            border-bottom: $border;
            .menuName{
              .currName{
                width: 100%;
                height: 40px;
                color: #232F3E;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                padding-left: 20px;
              }
              .allSubName{
                width: 100%;
                height: fit-content;
                .subName{
                  width: 100%;
                  height: 40px;
                  text-transform: capitalize;
                  display: flex;
                  align-items: center;
                  padding-left: 20px;
                  a{
                    color: #5B5B5B;
                  }
                }
              }
            }
          }
       }
     }
     .menuSlideInLeft{
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 100%;
      background-color: #ffffff;
      box-shadow: 4px 0 10px 0 rgb(0 0 0 / 40%);
      transform: translate(-300px,0);
      transition: 0.2s ease;
      overflow: hidden;
      .menuTitle{
        width: 100%;
        height: 40px;
        background-color: #232F3E;
        color: #ffffff;
        @include elementCenter;
      }
       .menuSlide{
          width: 100%;
          height: 100%;
          overflow-y: scroll;
            overflow-x: hidden;
          .allName{
            border-bottom: $border;
            .menuName{
              .currName{
                width: 100%;
                height: 40px;
                color: #232F3E;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                padding-left: 20px;
              }
              .allSubName{
                width: 100%;
                height: fit-content;
                .subName{
                  width: 100%;
                  height: 40px;
                  text-transform: capitalize;
                  display: flex;
                  align-items: center;
                  padding-left: 20px;
                  a{
                    color: #5B5B5B;
                  }
                }
              }
            }
          }
       }
     }
  }
     .slideWrapperVisible{
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       background-color: rgba(0,0,0,.8);
       animation: 0.2s linear 1 slideVisible;
       overflow: hidden;
       .menuSlideOutRight{
         position: absolute;
         top: 0;
         right: -300px;
         width: 300px;
         height: 100%;
         background-color: #ffffff;
         box-shadow: 4px 0 10px 0 rgb(0 0 0 / 40%);
         transform: translate(-300px,0);
         transition: 0.2s ease;
         .menuTitle{
          width: 100%;
          height: 40px;
          background-color: #232F3E;
          color: #ffffff;
          @include elementCenter;
        }
         .menuSlide{
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            .allName{
              border-bottom: $border;
              .menuName{
                .currName{
                  width: 100%;
                  height: 40px;
                  color: #232F3E;
                  text-transform: capitalize;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding-left: 40px;
                  .showSubName{
                    margin-right: 40px;
                    cursor: pointer;
                    transition: .2s;
                  }
                  .hideSubName{
                    margin-right: 40px;
                    transform: rotate(90deg);
                    cursor: pointer;
                    transition: .2s;
                  }
                }
                .allSubName{
                  width: 100%;
                  height: fit-content;
                  .subName{
                    width: 100%;
                    height: 40px;
                    text-transform: capitalize;
                    display: flex;
                    align-items: center;
                    padding-left: 40px;
                    a{
                      color: #5B5B5B;
                    }
                  }
                }
              }
            }
         }
        
       }
       .menuSlideOutLeft{
        position: absolute;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        background-color: #ffffff;
        box-shadow: 4px 0 10px 0 rgb(0 0 0 / 40%);
        transform: translate(300px,0);
        transition: 0.2s ease;
        .menuTitle{
         width: 100%;
         height: 40px;
         background-color: #232F3E;
         color: #ffffff;
         @include elementCenter;
       }
        .menuSlide{
           width: 100%;
           height: 100%;
           overflow-y: scroll;
            overflow-x: hidden;
           .allName{
             border-bottom: $border;
             .menuName{
               .currName{
                 width: 100%;
                 height: 40px;
                 color: #232F3E;
                 text-transform: capitalize;
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 padding-left: 40px;
                 .showSubName{
                   margin-right: 40px;
                   cursor: pointer;
                   transition: .2s;
                 }
                 .hideSubName{
                   margin-right: 40px;
                   transform: rotate(90deg);
                   cursor: pointer;
                   transition: .2s;
                 }
               }
               .allSubName{
                 width: 100%;
                 height: fit-content;
                 .subName{
                   width: 100%;
                   height: 40px;
                   text-transform: capitalize;
                   display: flex;
                   align-items: center;
                   padding-left: 40px;
                   a{
                     color: #5B5B5B;
                   }
                 }
               }
             }
           }
        }
       
      }
       .closeSlideRight{
         cursor: pointer;
         position: fixed;
         top: 20px;
         right: 315px;
         color: #ffffff;
       }
       .closeSlideLeft{
        cursor: pointer;
        position: fixed;
        top: 20px;
        left: 315px;
        color: #ffffff;
      }
     }