@import "../../fonts/avenir/avenir.css";
@import "../../fonts/raleway/raleway.css";
@import "../../fonts/inter/inter.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slideWrapperHidden {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: 0.2s ease-in-out 1 slideHidden;
          animation: 0.2s ease-in-out 1 slideHidden;
  overflow: hidden;
}
.slideWrapperHidden .menuSlideInRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: translate(300px, 0);
  transition: 0.2s ease;
  overflow: hidden;
}
.slideWrapperHidden .menuSlideInRight .menuTitle {
  width: 100%;
  height: 40px;
  background-color: #232F3E;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideWrapperHidden .menuSlideInRight .menuSlide {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
            overflow-x: hidden;
}
.slideWrapperHidden .menuSlideInRight .menuSlide .allName {
  border-bottom: 1px solid #e4e4e4;
}
.slideWrapperHidden .menuSlideInRight .menuSlide .allName .menuName .currName {
  width: 100%;
  height: 40px;
  color: #232F3E;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.slideWrapperHidden .menuSlideInRight .menuSlide .allName .menuName .allSubName {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.slideWrapperHidden .menuSlideInRight .menuSlide .allName .menuName .allSubName .subName {
  width: 100%;
  height: 40px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.slideWrapperHidden .menuSlideInRight .menuSlide .allName .menuName .allSubName .subName a {
  color: #5B5B5B;
}
.slideWrapperHidden .menuSlideInLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: translate(-300px, 0);
  transition: 0.2s ease;
  overflow: hidden;
}
.slideWrapperHidden .menuSlideInLeft .menuTitle {
  width: 100%;
  height: 40px;
  background-color: #232F3E;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideWrapperHidden .menuSlideInLeft .menuSlide {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
            overflow-x: hidden;
}
.slideWrapperHidden .menuSlideInLeft .menuSlide .allName {
  border-bottom: 1px solid #e4e4e4;
}
.slideWrapperHidden .menuSlideInLeft .menuSlide .allName .menuName .currName {
  width: 100%;
  height: 40px;
  color: #232F3E;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.slideWrapperHidden .menuSlideInLeft .menuSlide .allName .menuName .allSubName {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.slideWrapperHidden .menuSlideInLeft .menuSlide .allName .menuName .allSubName .subName {
  width: 100%;
  height: 40px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.slideWrapperHidden .menuSlideInLeft .menuSlide .allName .menuName .allSubName .subName a {
  color: #5B5B5B;
}

.slideWrapperVisible {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: 0.2s linear 1 slideVisible;
          animation: 0.2s linear 1 slideVisible;
  overflow: hidden;
}
.slideWrapperVisible .menuSlideOutRight {
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: translate(-300px, 0);
  transition: 0.2s ease;
}
.slideWrapperVisible .menuSlideOutRight .menuTitle {
  width: 100%;
  height: 40px;
  background-color: #232F3E;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideWrapperVisible .menuSlideOutRight .menuSlide {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
            overflow-x: hidden;
}
.slideWrapperVisible .menuSlideOutRight .menuSlide .allName {
  border-bottom: 1px solid #e4e4e4;
}
.slideWrapperVisible .menuSlideOutRight .menuSlide .allName .menuName .currName {
  width: 100%;
  height: 40px;
  color: #232F3E;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}
.slideWrapperVisible .menuSlideOutRight .menuSlide .allName .menuName .currName .showSubName {
  margin-right: 40px;
  cursor: pointer;
  transition: 0.2s;
}
.slideWrapperVisible .menuSlideOutRight .menuSlide .allName .menuName .currName .hideSubName {
  margin-right: 40px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: 0.2s;
}
.slideWrapperVisible .menuSlideOutRight .menuSlide .allName .menuName .allSubName {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.slideWrapperVisible .menuSlideOutRight .menuSlide .allName .menuName .allSubName .subName {
  width: 100%;
  height: 40px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.slideWrapperVisible .menuSlideOutRight .menuSlide .allName .menuName .allSubName .subName a {
  color: #5B5B5B;
}
.slideWrapperVisible .menuSlideOutLeft {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: translate(300px, 0);
  transition: 0.2s ease;
}
.slideWrapperVisible .menuSlideOutLeft .menuTitle {
  width: 100%;
  height: 40px;
  background-color: #232F3E;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideWrapperVisible .menuSlideOutLeft .menuSlide {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
            overflow-x: hidden;
}
.slideWrapperVisible .menuSlideOutLeft .menuSlide .allName {
  border-bottom: 1px solid #e4e4e4;
}
.slideWrapperVisible .menuSlideOutLeft .menuSlide .allName .menuName .currName {
  width: 100%;
  height: 40px;
  color: #232F3E;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}
.slideWrapperVisible .menuSlideOutLeft .menuSlide .allName .menuName .currName .showSubName {
  margin-right: 40px;
  cursor: pointer;
  transition: 0.2s;
}
.slideWrapperVisible .menuSlideOutLeft .menuSlide .allName .menuName .currName .hideSubName {
  margin-right: 40px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: 0.2s;
}
.slideWrapperVisible .menuSlideOutLeft .menuSlide .allName .menuName .allSubName {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.slideWrapperVisible .menuSlideOutLeft .menuSlide .allName .menuName .allSubName .subName {
  width: 100%;
  height: 40px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.slideWrapperVisible .menuSlideOutLeft .menuSlide .allName .menuName .allSubName .subName a {
  color: #5B5B5B;
}
.slideWrapperVisible .closeSlideRight {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 315px;
  color: #ffffff;
}
.slideWrapperVisible .closeSlideLeft {
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 315px;
  color: #ffffff;
}/*# sourceMappingURL=index.css.map */