.popUp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 48px;
  height: 48px;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  z-index: 99;
}
@-webkit-keyframes openPopUp {
  from {
    height: 0;
  }
  to {
    height: 550px;
  }
}
@keyframes openPopUp {
  from {
    height: 0;
  }
  to {
    height: 550px;
  }
}
@-webkit-keyframes closePopUp {
  from {
    height: 550px;
  }
  to {
    height: 0;
  }
}
@keyframes closePopUp {
  from {
    height: 550px;
  }
  to {
    height: 0;
  }
}
@-webkit-keyframes message {
  from {
    max-height: 0px;
  }
  to {
    max-height: -webkit-fit-content;
    max-height: fit-content;
  }
}
@keyframes message {
  from {
    max-height: 0px;
  }
  to {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
.popUp .popUpMessage {
  cursor: pointer;
  padding: 20px;
  position: absolute;
  bottom: 60px;
  right: 5px;
  width: 160px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: #DCDCDC;
  font-weight: 400;
  font-size: 12px;
  color: #121212;
  font-family: inter;
  border-radius: 10px;
  overflow: hidden;
  -webkit-animation: 1s ease-in 1 message;
          animation: 1s ease-in 1 message;
}
.popUp .popUpContainerOpen {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 80px;
  right: 5px;
  width: 420px;
  height: 550px;
  box-shadow: 0 0 15px #DCDCDC;
  background-color: #ffffff;
  border-radius: 10px;
  overflow-y: scroll;
            overflow-x: hidden;
  -webkit-animation: 1s ease-in 1 openPopUp;
          animation: 1s ease-in 1 openPopUp;
}
.popUp .popUpContainerClose {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 80px;
  right: 5px;
  width: 420px;
  height: 0;
  box-shadow: 0 0 15px #DCDCDC;
  background-color: #ffffff;
  border-radius: 10px;
  overflow-y: scroll;
            overflow-x: hidden;
  -webkit-animation: 1s ease-in 1 closePopUp;
          animation: 1s ease-in 1 closePopUp;
}
.popUp .project {
  margin-top: 20px;
  width: 90%;
  background-color: #ffffff;
  box-shadow: 0 0 15px #DCDCDC;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popUp .project .projectTitle {
  width: 90%;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  margin: 15px 0 15px 0;
}
.popUp .popUpBar {
  width: 100%;
  height: 200px;
  background-color: #5B197B;
  padding: 25px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}
.popUp .popUpBar .barImage {
  width: 38px;
  height: 38px;
  margin-bottom: 15px;
  cursor: pointer;
}
.popUp .popUpBar .barImage img {
  width: 100%;
  height: 100%;
}
.popUp .popUpBar .heading {
  font-size: 25px;
  font-weight: 900;
  color: #F0EEF6;
  margin-bottom: 15px;
}
.popUp .popUpBar .title {
  font-size: 16px;
  font-weight: 500;
  color: #F0EEF6;
  font-family: "Inter", sans-serif;
}
.popUp .openClose {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.popUp .openClose .open {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.popUp .openClose .open img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.popUp .openClose .close {
  background-color: #5B197B;
  color: #F0EEF6;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
}/*# sourceMappingURL=index.css.map */