@import "../style/mixin";
@import "../style/variable";



.popUp{

        // animation
        @keyframes openPopUp {
            from{
                height: 0;
            }
            to{
                height: 550px;
            }
        }
        
        @keyframes closePopUp {
            from{
                height: 550px;
            }
            to{
                height: 0;
            }
        }

        @keyframes message{
            from{
                max-height: 0px;
            }
            to{
                max-height: fit-content;
            }
        }

    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 48px;
    height: 48px;
    border: $border;
    border-radius: 50%;
    z-index: 99;
    .popUpMessage{
        cursor: pointer;
        padding: 20px;
        position: absolute;
        bottom: 60px;
        right: 5px;
        width: 160px;
        max-height: fit-content;
        background-color: #DCDCDC;
        font-weight: 400;
        font-size: 12px;
        color: #121212;
        font-family: inter;
        border-radius: 10px;
        overflow: hidden;
        animation: 1s ease-in 1 message;
    }
  
    .popUpContainerOpen{
        padding-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 80px;
        right: 5px;
        width: 420px;
        height: 550px;
        box-shadow: 0 0 15px #DCDCDC;
        background-color: #ffffff;
        border-radius: 10px;
        overflow-y: scroll;
            overflow-x: hidden;
        animation: 1s ease-in 1 openPopUp;
    }
    .popUpContainerClose{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 80px;
        right: 5px;
        width: 420px;
        height: 0;
        box-shadow: 0 0 15px #DCDCDC;
        background-color: #ffffff;
        border-radius: 10px;
        overflow-y: scroll;
            overflow-x: hidden;
        animation: 1s ease-in 1 closePopUp;
    }

    .project{
        margin-top: 20px;
        width: 90%;
        background-color: #ffffff;
        box-shadow: 0 0 15px #DCDCDC;
        display: flex;
        flex-direction: column;
        @include elementCenter;
        .projectTitle{
            width: 90%;
            text-transform: capitalize;
            font-size: 20px;
            font-weight: 800;
            font-family: $subHeaderFont;
            margin: 15px 0 15px 0;
        }
    }
    .popUpBar{
        width: 100%;
        height: 200px;
        background-color: #5B197B;
        padding: 25px;
        margin-bottom: 20px;
        font-family: $headerFont;
        .barImage{
            width: 38px;
            height: 38px;
            margin-bottom: 15px;
            cursor: pointer;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .heading{
            font-size: 25px;
            font-weight: 900;
            color: #F0EEF6;
            margin-bottom: 15px;
        }
        .title{
            font-size: 16px;
            font-weight: 500;
            color: #F0EEF6;
            font-family: $subHeaderFont;
        }
    }
    .openClose{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        cursor: pointer;
        .open{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .close{
            background-color: #5B197B;
            color: #F0EEF6;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            @include elementCenter;
            font-size: 40px;
            font-weight: 500;
        }
    }
  
}

