@import "../../fonts/avenir/avenir.css";
@import "../../fonts/raleway/raleway.css";
@import "../../fonts/inter/inter.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
}

.hc_mobileFilterContainer_out {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
  background: rgba(26, 26, 26, 0.8);
  transition: 0.3s ease;
  visibility: visible;
  overflow: hidden;
}
.hc_mobileFilterContainer_out .hc_filter {
  width: 100% !important;
  height: 550px;
  overflow-y: scroll;
            overflow-x: hidden;
  position: absolute;
  bottom: 0;
  padding: 0 12px 12px 12px;
  border-radius: 16px 16px 0 0;
  background-color: #ffffff;
  transition: 0.3s ease;
}
.hc_mobileFilterContainer_out .hc_filter::-webkit-scrollbar {
  display: none;
}
.hc_mobileFilterContainer_out .hc_filter .hc_filterGlobalReset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
}
.hc_mobileFilterContainer_out .hc_filter .hc_filterGlobalReset .filterTitle {
  font-family: inter;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
.hc_mobileFilterContainer_out .hc_filter .hc_filterGlobalReset .resetAllCloseMobile {
  display: flex;
  align-items: center;
}
.hc_mobileFilterContainer_out .hc_filter .hc_filterGlobalReset .resetAllCloseMobile .globalFilter {
  font-family: inter;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #6950a1;
}
.hc_mobileFilterContainer_out .hc_filter .hc_filterGlobalReset .resetAllCloseMobile .closeMobileFilter {
  margin-left: 15px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background-color: #1a1a1a;
}
.hc_mobileFilterContainer_out .hc_filter .filters {
  width: 100%;
  height: 100%;
}
.hc_mobileFilterContainer_out .hc_filter .filters .allFilters {
  border-top: 1px solid #dcdcdc;
  background-color: #ffffff;
  padding: 6px 0;
}
.hc_mobileFilterContainer_out .hc_filter .filters .allFilters:first-child {
  border-top: none;
}

.hc_mobileFilterContainer_in {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;
  background: rgba(26, 26, 26, 0.8);
  visibility: hidden;
  transition: 0.3s ease;
  overflow: hidden;
}
.hc_mobileFilterContainer_in .hc_filter {
  width: 100% !important;
  height: 550px;
  position: absolute;
  bottom: -550px;
  overflow-y: scroll;
            overflow-x: hidden;
  padding: 0 12px 12px 12px;
  border-radius: 16px 16px 0 0;
  background-color: #ffffff;
  transition: 0.3s ease;
}
.hc_mobileFilterContainer_in .hc_filter::-webkit-scrollbar {
  display: none;
}
.hc_mobileFilterContainer_in .hc_filter .hc_filterGlobalReset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
}
.hc_mobileFilterContainer_in .hc_filter .hc_filterGlobalReset .filterTitle {
  font-family: inter;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
.hc_mobileFilterContainer_in .hc_filter .hc_filterGlobalReset .resetAllCloseMobile {
  display: flex;
  align-items: center;
}
.hc_mobileFilterContainer_in .hc_filter .hc_filterGlobalReset .resetAllCloseMobile .globalFilter {
  font-family: inter;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #6950a1;
}
.hc_mobileFilterContainer_in .hc_filter .hc_filterGlobalReset .resetAllCloseMobile .closeMobileFilter {
  margin-left: 15px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background-color: #1a1a1a;
}
.hc_mobileFilterContainer_in .hc_filter .filters {
  width: 100%;
  height: 100%;
}
.hc_mobileFilterContainer_in .hc_filter .filters .allFilters {
  border-top: 1px solid #dcdcdc;
  background-color: #ffffff;
  padding: 6px 0;
}
.hc_mobileFilterContainer_in .hc_filter .filters .allFilters:first-child {
  border-top: none;
}

.hc_outerWrapper {
  position: relative;
  padding-top: 40px;
}
.hc_outerWrapper svg {
  vertical-align: middle;
}
.hc_outerWrapper .hc_container {
  width: 100% !important;
  max-width: 940px;
  grid-template-columns: repeat(14, 1fr) !important;
  grid-template-rows: auto 1fr;
  grid-row-gap: 20px;
  margin-top: 33px;
  font-family: Avenir;
}
.hc_outerWrapper .hc_container .hc_openViewsOption {
  cursor: pointer;
  grid-column: 1/3;
  grid-row: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto 0;
  position: relative;
}
.hc_outerWrapper .hc_container .hc_openViewsOption .hc_viewsNameArticle {
  pointer-events: auto !important;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding: 4px 8px;
  color: #8c8c8c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 12px;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 3px;
  align-items: center;
}
.hc_outerWrapper .hc_container .hc_openViewsOption .hc_viewsNameArticle .viewsArticle {
  display: flex;
  align-items: center;
  grid-template-columns: 34px 1fr;
}
.hc_outerWrapper .hc_container .hc_openViewsOption .hc_viewsNameArticle .viewsArticle .viewsName {
  grid-column: 2;
  grid-row: 1;
  padding: 6px;
  align-self: center;
}
.hc_outerWrapper .hc_container .hc_openViewsOption .hc_viewsOption {
  position: absolute;
  padding: 0px 12px;
  left: 0;
  top: 42px;
  text-decoration: none;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  z-index: 3;
}
.hc_outerWrapper .hc_container .searchSorting {
  flex-grow: 1;
  flex-shrink: 0;
  width: var(--col-12) !important;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 20px;
  grid-column: 1/-1 !important;
  z-index: 10012;
  justify-self: end;
  grid-column-gap: 20px;
  grid-row: 1;
  grid-auto-columns: fit-content(30%);
  grid-gap: 10px;
  align-items: center;
}
.hc_outerWrapper .hc_container .searchSorting .hc_openMobileViewsOption {
  display: none;
}
.hc_outerWrapper .hc_container .searchSorting .hc_openMobileViewsOption .hc_viewsNameIcon {
  pointer-events: auto !important;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding: 0px 8px;
  color: #8c8c8c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  background-color: inherit;
  font-family: inter;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
  align-items: center;
}
.hc_outerWrapper .hc_container .searchSorting .hc_openMobileViewsOption .hc_viewsNameIcon .viewsNameIcon .mobileViewsName {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  font-family: inter;
  color: #000000 !important;
}
.hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption {
  display: none;
}
.hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_filterNameIcon {
  pointer-events: auto !important;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding: 0px 8px;
  color: #8c8c8c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  background-color: inherit;
  font-family: inter;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
  align-items: center;
}
.hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_filterNameIcon .filterNameIcon .mobileFilterName {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  font-family: inter;
  color: #000000 !important;
}
.hc_outerWrapper .hc_container .searchSorting .searchBoxFilterLength {
  position: relative;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--brightness-86);
  border-radius: 4px;
  padding: 0 4px;
}
.hc_outerWrapper .hc_container .searchSorting .searchBoxFilterLength .filterSearchBox {
  max-width: 400px;
  min-width: 100px;
  height: 40px;
  border: none !important;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 8px !important;
  margin: 0;
}
.hc_outerWrapper .hc_container .searchSorting .searchBoxFilterLength .filterSearchBox svg {
  opacity: 0.2;
  display: flex;
  cursor: pointer;
}
.hc_outerWrapper .hc_container .searchSorting .searchBoxFilterLength .filterSearchBox input {
  border: none;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: Inter !important;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px;
  min-height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  outline: none;
  width: 100%;
  color: #121212;
}
.hc_outerWrapper .hc_container .searchSorting .searchBoxFilterLength .filterSearchBox [type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 10px;
  width: 10px;
  font-weight: 700;
  color: #dcdcdc;
  opacity: 0.5;
  background: url("../asset/cancel.svg");
}
.hc_outerWrapper .hc_container .searchSorting .searchBoxFilterLength .filterSearchBox .globalSearchResetIcon {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.hc_outerWrapper .hc_container .searchSorting .searchBoxFilterLength .filterCountLength {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  border-left: 1px solid var(--brightness-86);
  height: 40px;
  display: flex;
  padding: 0 8px;
  gap: 2px;
  align-items: center;
  justify-content: center;
}
.hc_outerWrapper .hc_container .searchSorting .sortingFiltering {
  display: flex;
}
.hc_outerWrapper .hc_container .searchSorting .sortingFiltering .hc_openSortingOption {
  pointer-events: auto !important;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 4px;
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  cursor: pointer;
}
.hc_outerWrapper .hc_container .searchSorting .sortingFiltering .hc_openSortingOption .sortText {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #8c8c8c;
  display: grid;
  grid-column-gap: 3px;
  grid-template-columns: 1fr auto;
  grid-column: 2;
  border-radius: 2px;
  font-size: 12px;
  line-height: 12px;
  padding: 5px;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
.hc_outerWrapper .hc_container .searchSorting .sortingFiltering .hc_openSortingOption .sortText .hc_sortTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: visible;
  margin-right: 4px;
}
.hc_outerWrapper .hc_container .searchSorting .sortingFiltering .hc_openSortingOption .hc_sortingOption {
  position: absolute;
  padding: 0px 12px;
  right: 0;
  top: 42px;
  text-decoration: none;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  z-index: 3;
}
.hc_outerWrapper .hc_container .filterViews .hc_filterContainer .hc_filter {
  width: var(--col-4) !important;
}
.hc_outerWrapper .hc_container .filterViews .hc_filterContainer .hc_filter .hc_filterGlobalReset {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
}
.hc_outerWrapper .hc_container .filterViews .hc_filterContainer .hc_filter .hc_filterGlobalReset .filterTitle {
  font-size: 18px;
  font-weight: 700;
}
.hc_outerWrapper .hc_container .filterViews .hc_filterContainer .hc_filter .hc_filterGlobalReset .globalFilter {
  text-transform: uppercase;
  color: #6950a1;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.hc_outerWrapper .hc_container .filterViews .hc_filterContainer .hc_filter .allFilters {
  border-top: 1px solid #dcdcdc;
  padding: 6px 0;
}

@media (max-width: 580px) {
  html,
body {
    margin: 0;
  }
  html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
  }
  html .hc_mobileFilterContainer_out,
body .hc_mobileFilterContainer_out {
    display: block;
  }
  html .hc_mobileFilterContainer_in,
body .hc_mobileFilterContainer_in {
    display: block;
  }
  .hc_outerWrapper {
    width: 100% !important;
  }
  .hc_outerWrapper .hc_container {
    width: 95% !important;
  }
  .hc_outerWrapper .hc_container .viewsOption {
    display: none;
  }
  .hc_outerWrapper .hc_container .filterViews .hc_filterContainer {
    display: none;
  }
  .hc_outerWrapper .hc_container .filterViews .viewsContainer {
    width: var(--col-10) !important;
    padding: 0;
    margin: 0;
  }
  .hc_outerWrapper .hc_container .searchSorting {
    position: relative;
    width: 90% !important;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileViewsOption {
    display: block;
    position: relative;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileViewsOption .hc_viewsNameIcon {
    cursor: pointer;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileViewsOption .hc_viewsOption {
    position: absolute;
    padding: 0px 12px;
    left: 0;
    top: 42px;
    text-decoration: none;
    font-size: 12px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    z-index: 3;
  }
  .hc_outerWrapper .hc_container .searchSorting .searchBoxFilterLength {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
  }
  .hc_outerWrapper .hc_container .searchSorting .searchBoxFilterLength .filterSearchBox {
    height: 25px;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption {
    display: block;
    margin-left: 10px;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_filterNameIcon {
    cursor: pointer;
  }
}/*# sourceMappingURL=index.css.map */