@import "../../fonts/avenir/avenir.css";
@import "../../fonts/raleway/raleway.css";
@import "../../fonts/inter/inter.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-y: scroll;
            overflow-x: hidden;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 720px) {
  .menuWrapper .menuBar .allMenu {
    place-self: start;
    align-self: center;
    margin-left: 5px;
  }
  .menuWrapper .menuBar .allMenu .all {
    display: none;
  }
  .menuWrapper .menuBar .menuName {
    display: none;
  }
  .menuWrapper .menuBar .logo {
    place-self: end;
    align-self: center;
    margin-right: 10px;
  }
}
@-webkit-keyframes slideVisible {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes slideVisible {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@-webkit-keyframes slideHidden {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes slideHidden {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
.menuWrapper a {
  text-decoration: none;
}
.menuWrapper .slideWrapperHidden {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: 0.2s ease-in-out 1 slideHidden;
          animation: 0.2s ease-in-out 1 slideHidden;
  overflow: hidden;
}
.menuWrapper .slideWrapperHidden .menuSlideInRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: translate(300px, 0);
  transition: 0.2s ease;
  overflow: hidden;
}
.menuWrapper .slideWrapperHidden .menuSlideInRight .menuTitle {
  width: 100%;
  height: 40px;
  background-color: #232F3E;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuWrapper .slideWrapperHidden .menuSlideInRight .menuSlide {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
            overflow-x: hidden;
}
.menuWrapper .slideWrapperHidden .menuSlideInRight .menuSlide .allName {
  border-bottom: 1px solid #e4e4e4;
}
.menuWrapper .slideWrapperHidden .menuSlideInRight .menuSlide .allName .menuName .currName {
  width: 100%;
  height: 40px;
  color: #232F3E;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.menuWrapper .slideWrapperHidden .menuSlideInRight .menuSlide .allName .menuName .allSubName {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.menuWrapper .slideWrapperHidden .menuSlideInRight .menuSlide .allName .menuName .allSubName .subName {
  width: 100%;
  height: 40px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.menuWrapper .slideWrapperHidden .menuSlideInRight .menuSlide .allName .menuName .allSubName .subName a {
  color: #5B5B5B;
}
.menuWrapper .slideWrapperHidden .menuSlideInLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: translate(-300px, 0);
  transition: 0.2s ease;
  overflow: hidden;
}
.menuWrapper .slideWrapperHidden .menuSlideInLeft .menuTitle {
  width: 100%;
  height: 40px;
  background-color: #232F3E;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuWrapper .slideWrapperHidden .menuSlideInLeft .menuSlide {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
            overflow-x: hidden;
}
.menuWrapper .slideWrapperHidden .menuSlideInLeft .menuSlide .allName {
  border-bottom: 1px solid #e4e4e4;
}
.menuWrapper .slideWrapperHidden .menuSlideInLeft .menuSlide .allName .menuName .currName {
  width: 100%;
  height: 40px;
  color: #232F3E;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.menuWrapper .slideWrapperHidden .menuSlideInLeft .menuSlide .allName .menuName .allSubName {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.menuWrapper .slideWrapperHidden .menuSlideInLeft .menuSlide .allName .menuName .allSubName .subName {
  width: 100%;
  height: 40px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.menuWrapper .slideWrapperHidden .menuSlideInLeft .menuSlide .allName .menuName .allSubName .subName a {
  color: #5B5B5B;
}
.menuWrapper .slideWrapperVisible {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: 0.2s linear 1 slideVisible;
          animation: 0.2s linear 1 slideVisible;
  overflow: hidden;
}
.menuWrapper .slideWrapperVisible .menuSlideOutRight {
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: translate(-300px, 0);
  transition: 0.2s ease;
}
.menuWrapper .slideWrapperVisible .menuSlideOutRight .menuTitle {
  width: 100%;
  height: 40px;
  background-color: #232F3E;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuWrapper .slideWrapperVisible .menuSlideOutRight .menuSlide {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
            overflow-x: hidden;
}
.menuWrapper .slideWrapperVisible .menuSlideOutRight .menuSlide .allName {
  border-bottom: 1px solid #e4e4e4;
}
.menuWrapper .slideWrapperVisible .menuSlideOutRight .menuSlide .allName .menuName .currName {
  width: 100%;
  height: 40px;
  color: #232F3E;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}
.menuWrapper .slideWrapperVisible .menuSlideOutRight .menuSlide .allName .menuName .currName .showSubName {
  margin-right: 40px;
  cursor: pointer;
  transition: 0.2s;
}
.menuWrapper .slideWrapperVisible .menuSlideOutRight .menuSlide .allName .menuName .currName .hideSubName {
  margin-right: 40px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: 0.2s;
}
.menuWrapper .slideWrapperVisible .menuSlideOutRight .menuSlide .allName .menuName .allSubName {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.menuWrapper .slideWrapperVisible .menuSlideOutRight .menuSlide .allName .menuName .allSubName .subName {
  width: 100%;
  height: 40px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.menuWrapper .slideWrapperVisible .menuSlideOutRight .menuSlide .allName .menuName .allSubName .subName a {
  color: #5B5B5B;
}
.menuWrapper .slideWrapperVisible .menuSlideOutLeft {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: translate(300px, 0);
  transition: 0.2s ease;
}
.menuWrapper .slideWrapperVisible .menuSlideOutLeft .menuTitle {
  width: 100%;
  height: 40px;
  background-color: #232F3E;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuWrapper .slideWrapperVisible .menuSlideOutLeft .menuSlide {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
            overflow-x: hidden;
}
.menuWrapper .slideWrapperVisible .menuSlideOutLeft .menuSlide .allName {
  border-bottom: 1px solid #e4e4e4;
}
.menuWrapper .slideWrapperVisible .menuSlideOutLeft .menuSlide .allName .menuName .currName {
  width: 100%;
  height: 40px;
  color: #232F3E;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}
.menuWrapper .slideWrapperVisible .menuSlideOutLeft .menuSlide .allName .menuName .currName .showSubName {
  margin-right: 40px;
  cursor: pointer;
  transition: 0.2s;
}
.menuWrapper .slideWrapperVisible .menuSlideOutLeft .menuSlide .allName .menuName .currName .hideSubName {
  margin-right: 40px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: 0.2s;
}
.menuWrapper .slideWrapperVisible .menuSlideOutLeft .menuSlide .allName .menuName .allSubName {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.menuWrapper .slideWrapperVisible .menuSlideOutLeft .menuSlide .allName .menuName .allSubName .subName {
  width: 100%;
  height: 40px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.menuWrapper .slideWrapperVisible .menuSlideOutLeft .menuSlide .allName .menuName .allSubName .subName a {
  color: #5B5B5B;
}
.menuWrapper .slideWrapperVisible .closeSlideRight {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 315px;
  color: #ffffff;
}
.menuWrapper .slideWrapperVisible .closeSlideLeft {
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 315px;
  color: #ffffff;
}
.menuWrapper .menuBar {
  width: 100%;
  height: 40px;
  background-color: #232F3E;
  color: #ffffff;
  display: grid;
  grid-template-rows: 100%;
  grid-auto-flow: column;
  place-items: center;
}
.menuWrapper .menuBar a {
  color: #ffffff;
  text-transform: capitalize;
}
.menuWrapper .menuBar .allMenu {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  padding: 5px 10px 5px 10px;
  border: 1px solid #232F3E;
  cursor: pointer;
}
.menuWrapper .menuBar .allMenu:hover {
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.menuWrapper .menuBar .allMenu .openMenu {
  width: 35px;
  height: 20px;
}
.menuWrapper .menuBar .allMenu .all {
  margin-left: 10px;
}
.menuWrapper .menuBar .menuName {
  padding: 5px 10px 5px 10px;
  border: 1px solid #232F3E;
  cursor: pointer;
}
.menuWrapper .menuBar .menuName:hover {
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.menuWrapper .menuBar .logo {
  text-transform: uppercase;
}/*# sourceMappingURL=index.css.map */