@import "../style/mixin";
@import "../style/variable";



html,body{
  overflow-y: scroll;
            overflow-x: hidden;
  &::-webkit-scrollbar{
    display: none;
  }
}

.menuWrapper{
  @media  (max-width: 720px) {
    .menuBar{
       
      .allMenu{
         place-self: start;
         align-self: center;
         margin-left: 5px;
        .all{
          display: none;
        }
      }
      .menuName{
        display: none;
      }
      .logo{
        place-self: end;
        align-self: center;
        margin-right: 10px;
      }
    }
  }

@keyframes slideVisible{
  from{
      visibility: hidden;
  }
  to{
      visibility: visible;
  }
}


@keyframes slideHidden{
  from{
      visibility: visible;
  }
  to{
      visibility: hidden;
  }
}

a{
  text-decoration: none;
}
 
// width: 100%;
.slideWrapperHidden{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: rgba(0,0,0,.8);
  animation: 0.2s ease-in-out 1 slideHidden;
  overflow: hidden;
  .menuSlideInRight{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 4px 0 10px 0 rgb(0 0 0 / 40%);
    transform: translate(300px,0);
    transition: 0.2s ease;
    overflow: hidden;
    .menuTitle{
      width: 100%;
      height: 40px;
      background-color: #232F3E;
      color: #ffffff;
      @include elementCenter;
    }
     .menuSlide{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
            overflow-x: hidden;
        .allName{
          border-bottom: $border;
          .menuName{
            .currName{
              width: 100%;
              height: 40px;
              color: #232F3E;
              text-transform: capitalize;
              display: flex;
              align-items: center;
              padding-left: 20px;
            }
            .allSubName{
              width: 100%;
              height: fit-content;
              .subName{
                width: 100%;
                height: 40px;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                padding-left: 20px;
                a{
                  color: #5B5B5B;
                }
              }
            }
          }
        }
     }
   }
   .menuSlideInLeft{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 4px 0 10px 0 rgb(0 0 0 / 40%);
    transform: translate(-300px,0);
    transition: 0.2s ease;
    overflow: hidden;
    .menuTitle{
      width: 100%;
      height: 40px;
      background-color: #232F3E;
      color: #ffffff;
      @include elementCenter;
    }
     .menuSlide{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
            overflow-x: hidden;
        .allName{
          border-bottom: $border;
          .menuName{
            .currName{
              width: 100%;
              height: 40px;
              color: #232F3E;
              text-transform: capitalize;
              display: flex;
              align-items: center;
              padding-left: 20px;
            }
            .allSubName{
              width: 100%;
              height: fit-content;
              .subName{
                width: 100%;
                height: 40px;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                padding-left: 20px;
                a{
                  color: #5B5B5B;
                }
              }
            }
          }
        }
     }
   }
}
   .slideWrapperVisible{
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     background-color: rgba(0,0,0,.8);
     animation: 0.2s linear 1 slideVisible;
     overflow: hidden;
     .menuSlideOutRight{
       position: absolute;
       top: 0;
       right: -300px;
       width: 300px;
       height: 100%;
       background-color: #ffffff;
       box-shadow: 4px 0 10px 0 rgb(0 0 0 / 40%);
       transform: translate(-300px,0);
       transition: 0.2s ease;
       .menuTitle{
        width: 100%;
        height: 40px;
        background-color: #232F3E;
        color: #ffffff;
        @include elementCenter;
      }
       .menuSlide{
          width: 100%;
          height: 100%;
          overflow-y: scroll;
            overflow-x: hidden;
          .allName{
            border-bottom: $border;
            .menuName{
              .currName{
                width: 100%;
                height: 40px;
                color: #232F3E;
                text-transform: capitalize;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 40px;
                .showSubName{
                  margin-right: 40px;
                  cursor: pointer;
                  transition: .2s;
                }
                .hideSubName{
                  margin-right: 40px;
                  transform: rotate(90deg);
                  cursor: pointer;
                  transition: .2s;
                }
              }
              .allSubName{
                width: 100%;
                height: fit-content;
                .subName{
                  width: 100%;
                  height: 40px;
                  text-transform: capitalize;
                  display: flex;
                  align-items: center;
                  padding-left: 40px;
                  a{
                    color: #5B5B5B;
                  }
                }
              }
            }
          }
       }
      
     }
     .menuSlideOutLeft{
      position: absolute;
      top: 0;
      left: -300px;
      width: 300px;
      height: 100%;
      background-color: #ffffff;
      box-shadow: 4px 0 10px 0 rgb(0 0 0 / 40%);
      transform: translate(300px,0);
      transition: 0.2s ease;
      .menuTitle{
       width: 100%;
       height: 40px;
       background-color: #232F3E;
       color: #ffffff;
       @include elementCenter;
     }
      .menuSlide{
         width: 100%;
         height: 100%;
         overflow-y: scroll;
            overflow-x: hidden;
         .allName{
           border-bottom: $border;
           .menuName{
             .currName{
               width: 100%;
               height: 40px;
               color: #232F3E;
               text-transform: capitalize;
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding-left: 40px;
               .showSubName{
                 margin-right: 40px;
                 cursor: pointer;
                 transition: .2s;
               }
               .hideSubName{
                 margin-right: 40px;
                 transform: rotate(90deg);
                 cursor: pointer;
                 transition: .2s;
               }
             }
             .allSubName{
               width: 100%;
               height: fit-content;
               .subName{
                 width: 100%;
                 height: 40px;
                 text-transform: capitalize;
                 display: flex;
                 align-items: center;
                 padding-left: 40px;
                 a{
                   color: #5B5B5B;
                 }
               }
             }
           }
         }
      }
     
    }
     .closeSlideRight{
       cursor: pointer;
       position: fixed;
       top: 20px;
       right: 315px;
       color: #ffffff;
     }
     .closeSlideLeft{
      cursor: pointer;
      position: fixed;
      top: 20px;
      left: 315px;
      color: #ffffff;
    }
   }
   .menuBar{
     width: 100%;
     height: 40px;
     background-color: #232F3E;
     color: #ffffff;
     display: grid;
     grid-template-rows: 100%;
     grid-auto-flow: column;
     place-items: center;
     a{
      color: #ffffff;
      text-transform: capitalize;
    }
     .allMenu{
       display: flex;
       @include elementCenter;
       text-transform: capitalize;
       padding: 5px 10px 5px 10px;
         border: 1px solid #232F3E;
         cursor: pointer;
         &:hover{
           border: 1px solid #ffffff;
           border-radius: 3px;
         }
         .openMenu{
           width: 35px;
           height: 20px;
         }
         .all{
           margin-left: 10px;
         }
     }
     .menuName{
      padding: 5px 10px 5px 10px;
      border: 1px solid #232F3E;
      cursor: pointer;
      &:hover{
       border: 1px solid #ffffff;
       border-radius: 3px;
      }
    }
    .logo{
      text-transform: uppercase;
    }
   }

   
}