@import "../style/mixin";
@import "../style/variable";


.form{
    width: 100%;
}
.formOpen{
    width: 100%;
    @include elementCenter;
}
.contactForm{
    width: 100%;
    height: 100%;
    height: fit-content;
    padding: 25px;
    .userName{
        margin-bottom: 10px;
    }
    .email{
        margin-bottom: 10px;
    }
    .dropdown{
        margin-bottom: 10px;
    }
    .message{
        margin-bottom: 10px;
    }
    .submitBtn{
        width: 25%;
    }
}