@import "../../fonts/avenir/avenir.css";
@import "../../fonts/raleway/raleway.css";
@import "../../fonts/inter/inter.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form {
  width: 100%;
}

.formOpen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactForm {
  width: 100%;
  height: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 25px;
}
.contactForm .userName {
  margin-bottom: 10px;
}
.contactForm .email {
  margin-bottom: 10px;
}
.contactForm .dropdown {
  margin-bottom: 10px;
}
.contactForm .message {
  margin-bottom: 10px;
}
.contactForm .submitBtn {
  width: 25%;
}/*# sourceMappingURL=index.css.map */