@import "../../fonts/avenir/avenir.css";
@import "../../fonts/raleway/raleway.css";
@import "../../fonts/inter/inter.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  font-style: var(--brand-header-font);
  padding: 8px;
  border-radius: 4px;
}
.container:hover {
  background-color: var(--brightness-93);
}
.container .title {
  margin-top: 8px;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container .title h3 {
  font-family: var(--supernormal-font);
  text-transform: capitalize;
  font-weight: var(--regular);
  font-size: var(--supernormal-size-s);
  line-height: 16px;
  color: #000000;
}
.container .title .remove_reset {
  display: flex;
  margin-left: 0.5rem;
  cursor: pointer;
  font-family: var(--supernormal-font);
  text-transform: capitalize;
  font-weight: var(--regular);
  font-size: var(--supernormal-size-s);
  line-height: 16px;
  color: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.container .title .remove_reset .remove {
  margin-right: 0.3rem;
}
.container .slider {
  display: flex;
  align-items: flex-end;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.container .slider .inputData {
  outline: none;
  max-width: 26px;
  height: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
}
.container .slider .inputData::-webkit-outer-spin-button, .container .slider .inputData::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.container .slider .sliderDiv {
  position: relative;
  width: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 5px;
  background-color: none;
  margin: 3rem 0.5rem 0.5rem 0.5rem;
}
.container .slider .sliderDiv .sliderTrack {
  width: 100%;
  height: 4px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.container .slider .sliderDiv .sideValue {
  width: 100%;
  height: 10px;
  display: flex;
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  justify-content: space-between;
  margin-left: 2px;
  margin-right: -2px;
}
.container .slider .sliderDiv .slideValue {
  position: relative;
  width: 100%;
  bottom: 1.3rem;
}
.container .slider .sliderDiv .slideValue .leftValue {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  transition: transform 300ms ease-in-out;
}
.container .slider .sliderDiv .slideValue .rightValue {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  transition: transform 300ms ease-in-out;
}
.container .slider input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: transparent;
  pointer-events: none;
}
.container .slider input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
.container .slider input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}
.container .slider input[type=range]::-ms-track {
  appearance: none;
  height: 5px;
}
.container .slider input[type=range]:active::-webkit-slider-thumb {
  background-color: #1749b1;
}
.container .slider .leftThumbBefore::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px !important;
  width: 12px !important;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #dcdcdc;
  cursor: pointer;
  pointer-events: auto;
  margin-top: -4px;
}
.container .slider .rightThumbBefore::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px !important;
  width: 12px !important;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #dcdcdc;
  cursor: pointer;
  pointer-events: auto;
  margin-top: -4px;
}
.container .slider .leftThumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px !important;
  width: 12px !important;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #1749b1;
  cursor: pointer;
  pointer-events: auto;
  margin-top: -4px;
}
.container .slider .leftThumb::-moz-range-thumb {
  -webkit-appearance: none;
  height: 12px !important;
  width: 12px !important;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #1749b1;
  cursor: pointer;
  pointer-events: auto;
  margin-top: -4px;
}
.container .slider .leftThumb::-ms-thumb {
  appearance: none;
  height: 12px !important;
  width: 12px !important;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #1749b1;
  pointer-events: auto;
  margin-top: -4px;
}
.container .slider .rightThumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px !important;
  width: 12px !important;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #1749b1;
  cursor: pointer;
  pointer-events: auto;
  margin-top: -4px;
}
.container .slider .rightThumb::-moz-range-thumb {
  -webkit-appearance: none;
  height: 12px !important;
  width: 12px !important;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #1749b1;
  cursor: pointer;
  pointer-events: auto;
  margin-top: -4px;
}
.container .slider .rightThumb::-ms-thumb {
  appearance: none;
  height: 12px !important;
  width: 12px !important;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #1749b1;
  pointer-events: auto;
  margin-top: -4px;
}
.container .infoMatch {
  margin-top: 1.8rem;
  margin-bottom: 0.5rem;
  font-family: inter;
  font-weight: 400;
  font-size: 10px;
}/*# sourceMappingURL=index.css.map */