@import "../style/mixin";
@import "../style/variable";

.container {
  font-style: var(--brand-header-font);
  padding: 8px;
  border-radius: 4px;
  &:hover{
    background-color: var(--brightness-93);
  }
  .title {
    margin-top: 8px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    h3 {
      font-family: var(--supernormal-font);
      text-transform: capitalize;
      font-weight: var(--regular);
      font-size: var(--supernormal-size-s);
      line-height: 16px;
      color: #000000;
    }
    .remove_reset{
      display: flex;
      margin-left: 0.5rem;
      cursor: pointer;
      font-family: var(--supernormal-font);
      text-transform: capitalize;
      font-weight: var(--regular);
      font-size: var(--supernormal-size-s);
      line-height: 16px;
      color: #000000;
      user-select: none;
      .remove{
        margin-right: .3rem;
      }
    }
    // span {
    //   padding-right: 0.5rem;
    //   padding-left: 10px;
    //   cursor: pointer;
    // }
  }
  .slider {
    display: flex;
    align-items: flex-end;
    height: max-content;
    .inputData {
      // padding: 0.1rem;
      outline: none;
      max-width: 26px;
      height: 20px;
      border: 1px solid #c4c4c4;
      border-radius: 4px;
      font-size: 11px;
      line-height: 16px;
      text-align: center;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      -moz-appearance:textfield;
    }

    .sliderDiv {
      position: relative;
      width: 90%;
      height: max-content;
      border-radius: 5px;
      background-color: none;
      margin: 3rem 0.5rem 0.5rem 0.5rem;

      .sliderTrack {
        width: 100%;
        height: 4px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
      }

      .sideValue {
        width: 100%;
        height: 10px;
        display: flex;
        margin-top: 8px;
        font-weight: 400;
        font-size: 12px;
        justify-content: space-between;
        margin-left: 2px;
        margin-right: -2px;
      }
      .slideValue {
        position: relative;
        width: 100%;
        bottom: 1.3rem;
        .leftValue {
          position: absolute;
          font-weight: 400;
          font-size: 12px;
          -webkit-transition: -webkit-transform 300ms ease-in-out;
          transition: -webkit-transform 300ms ease-in-out;
          transition: transform 300ms ease-in-out;
          transition: transform 300ms ease-in-out,
            -webkit-transform 300ms ease-in-out;
        }
        .rightValue {
          position: absolute;
          font-weight: 400;
          font-size: 12px;
          -webkit-transition: -webkit-transform 300ms ease-in-out;
          transition: -webkit-transform 300ms ease-in-out;
          transition: transform 300ms ease-in-out;
          transition: transform 300ms ease-in-out,
            -webkit-transform 300ms ease-in-out;
        }
      }
    }

    input[type="range"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      outline: none;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: transparent;
      pointer-events: none;
      &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        height: 5px;
      }
      &::-moz-range-track {
        -moz-appearance: none;
        height: 5px;
      }
      &::-ms-track {
        appearance: none;
        height: 5px;
      }
      &:active::-webkit-slider-thumb {
        background-color: #1749b1;
      }
    }

    .leftThumbBefore {
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 12px !important;
        width: 12px !important;
        border-radius: 50%;
        background-color: #ffffff;
        border: 2px solid #dcdcdc;
        cursor: pointer;
        pointer-events: auto;
        margin-top: -4px;
      }
      &::-moz-range-thumb {
        -webkit-appearance: none;
        height: 12px !important;
        width: 12px !important;
        border-radius: 50%;
        background-color: #ffffff;
        border: 2px solid #dcdcdc;
        cursor: pointer;
        pointer-events: auto;
        margin-top: -4px;
      }
      &::-ms-thumb{
        -webkit-appearance: none;
        height: 12px !important;
        width: 12px !important;
        border-radius: 50%;
        background-color: #ffffff;
        border: 2px solid #dcdcdc;
        cursor: pointer;
        pointer-events: auto;
        margin-top: -4px;
      }
     
    }

    .rightThumbBefore {
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 12px !important;
        width: 12px !important;
        border-radius: 50%;
        background-color: #ffffff;
        border: 2px solid #dcdcdc;
        cursor: pointer;
        pointer-events: auto;
        margin-top: -4px;
      }
      &::-moz-range-thumb{
        -webkit-appearance: none;
        height: 12px !important;
        width: 12px !important;
        border-radius: 50%;
        background-color: #ffffff;
        border: 2px solid #dcdcdc;
        cursor: pointer;
        pointer-events: auto;
        margin-top: -4px;
      }
      ::-ms-thumb{
        -webkit-appearance: none;
        height: 12px !important;
        width: 12px !important;
        border-radius: 50%;
        background-color: #ffffff;
        border: 2px solid #dcdcdc;
        cursor: pointer;
        pointer-events: auto;
        margin-top: -4px;
      }
    }

    .leftThumb {
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 12px !important;
        width: 12px !important;
        border-radius: 50%;
        background-color: #ffffff;
        border: 2px solid #1749b1;
        cursor: pointer;
        pointer-events: auto;
        margin-top: -4px;
        
      }
      &::-moz-range-thumb {
        -webkit-appearance: none;
        height: 12px !important;
        width: 12px !important;
        border-radius: 50%;
        background-color: #ffffff;
        border: 2px solid #1749b1;
        cursor: pointer;
        pointer-events: auto;
        margin-top: -4px;
      }

      &::-ms-thumb {
        appearance: none;
        height: 12px !important;
        width: 12px !important;
        border-radius: 50%;
        cursor: pointer;
        background-color: #ffffff;
        border: 2px solid #1749b1;
        pointer-events: auto;
        margin-top: -4px;
      }
    }

    .rightThumb {
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 12px !important;
        width: 12px !important;
        border-radius: 50%;
        background-color: #ffffff;
        border: 2px solid #1749b1;
        cursor: pointer;
        pointer-events: auto;
        margin-top: -4px;
      }

      &::-moz-range-thumb {
        -webkit-appearance: none;
        height: 12px !important;
        width: 12px !important;
        border-radius: 50%;
        background-color: #ffffff;
        border: 2px solid #1749b1;
        cursor: pointer;
        pointer-events: auto;
        margin-top: -4px;
      }

      &::-ms-thumb {
        appearance: none;
        height: 12px !important;
        width: 12px !important;
        border-radius: 50%;
        cursor: pointer;
        background-color: #ffffff;
        border: 2px solid #1749b1;
        pointer-events: auto;
        margin-top: -4px;
      }
    }
  }
  .infoMatch {
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
    font-family: "Inter";
    font-weight: 400;
    font-size: 10px;
    p{
      font-family: "Inter";
      font-weight: 400;
      font-size: 10px;
    }
  }
}
