@import "../../fonts/avenir/avenir.css";
@import "../../fonts/raleway/raleway.css";
@import "../../fonts/inter/inter.css";
.dropdown {
  position: relative;
  text-transform: capitalize;
}
@media (max-width: 700px) {
  .dropdown .dropdown {
    width: 100%;
  }
}

.dropdownBtn {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  font-family: "Raleway", sans-serif;
}
.dropdownBtn .remove-item {
  cursor: pointer;
  border-radius: 50%;
}

.allItem {
  display: flex;
}

.selectedItem {
  margin-left: 5px;
}

.dropdownIcon {
  transform: rotate(180deg);
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
}

.dropdownContain {
  width: 100%;
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
}
.dropdownContain .searchOpt {
  width: 100%;
  padding: 10px 15px;
  border-style: none;
  outline: none;
  background-color: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
.dropdownContain .dropdownItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
}
.dropdownContain .dropdownItem:hover {
  background-color: #fcfcfc;
}
.dropdownContain .containItem {
  height: 100px;
  overflow-y: scroll;
            overflow-x: hidden;
}

.category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.categoryItem {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.categoryItem label {
  padding: 2px 0px 2px 10px;
}/*# sourceMappingURL=index.css.map */