@import "../style/mixin";
@import "../style/variable";

*,
::before,
::after {
  @include initialCode;
}


.calender {
  display: inline-block;
  width: 300px;
  font-family: var(--supernormal-font);
  position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
//  .input_field{
//     color: black !important;
//  }
  .calenderBorder {
    width: 90%;
    height: 1px;
    background-color: var(--brightness-60);
  }
  .showRangeDate {
    margin-top: 34px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    .firstSelect {
      width: 94px;
      height: 24px;
      background-color: #ececec;
      border-radius: 4px;
      font-family: "Inter";
      font-style: normal;
      font-weight: var(--medium);
      font-size: 11px;
      line-height: 12px;
      color: var(--brightness-7);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .secondSelect {
      width: 94px;
      height: 24px;
      background-color: #ececec;
      border-radius: 4px;
      font-family: "Inter";
      font-style: normal;
      font-weight: var(--medium);
      font-size: 11px;
      line-height: 12px;
      color: var(--brightness-7);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
