@import "../style/mixin";
@import "../style/variable";



.galleryView{
    width: 100%;
    // height: fit-content;
    @include elementCenter;
    flex-direction: column;
}
.credits {
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    text-align: right;
    width: 100%;
    grid-column: 1/-1;
    grid-row: -1;
    color: var(--brightness-60);
    a{
      color: var(--brightness-60);
    }
    .hc-anchor-hide {
      opacity: 0;
      position: absolute;
      z-index: -100;
    }
  }