@import "../style/mixin";
@import "../style/variable";

@keyframes PopUp {
  from {
    height: 0vh;
  }
  to {
    height: 80vh;
  }
}

@keyframes PopDown {
  from {
    height: 80vh;
  }
  to {
    height: 0vh;
  }
}

@keyframes scale_circle {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes descale_circle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}


// @keyframes reduce_scale_circle{
//   from{
//     transform: scale(1);
//   }
//   to{
//     transform: scale(0);
//   }
// }

@keyframes message {
  from {
    // height: 0;
    // padding: 0;
    transform: scale(0);
  }
  to {
    // height: fit-content;
    // padding: 12px 8px;
    transform: scale(1);
  }
}

@mixin bot_container {
  .nudge_bot_header {
    width: 100%;
    height: max-content;
    display: flex;
    padding: 20px 16px;
    justify-content: space-between;
    gap: 20px;
    .pop_up_profile_image_headline {
      display: flex;
      align-items: center;
      user-select: none;
      .pop_up_profile_image {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0.689655px solid #e9ecef;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .pop_up_profile_headline_description {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .headline {
          font-family: var(--brand-header-font);
          font-style: normal;
          font-weight: var(--extra-bold);
          // font-weight: 400;
          font-size: var(--brand-header-size-s);
          margin-left: 10px;
          color: var(--primary-faded);
        }
        .description {
          font-family: var(--brand-reading-font);
          font-size: var(--brand-reading-size);
          font-style: normal;
          font-weight: var(--medium);
          // font-weight: 400;
          word-break: break-word;
          margin-left: 10px;
          color: var(--primary-faded);
        }
      }
    }

    .close_pop_up_icon {
      cursor: pointer;
    }
  }
  .nudge_bot_container {
    width: 100%;
    flex-grow: 1;
    background: #ffffff;
    border-radius: 12px 12px 0 0;
    padding: 20px;

    .nudge_bot_contact_form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      .pop_up_about {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        gap: 20px;
        width: 100%;
        height: fit-content;
        padding: 20px;
        background-color: #484848;
        color: #ffffff;
        .about_headline {
          font-family: var(--brand-header-font);
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          color: #ffffff;
        }
        a {
          text-decoration: none;
          color: #ffffff;
          font-family: var(--supernormal-font);
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          text-transform: capitalize;
          cursor: pointer;
        }
      }
      .show_me_around {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        gap: 20px;
        width: 100%;
        height: fit-content;
        padding: 20px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
        .show_me_around_title {
          font-style: normal;
          font-family: var(--brand-header-font);
          font-weight: var(--bold);
          // font-weight: 400;
          font-size: var(--brand-card-title-size-s);
          &::first-letter{
            text-transform: capitalize;
          }
        }
        .show_me_around_button{
          background-color: var(--primary-main);
          border-radius: 8px;
          padding: 8px 16px;
          border: 1px solid var(--primary-main);
          font-style: normal;
          font-weight: var(--extra-bold);
          font-size: var(--brand-reading-size);
          font-family: var(--brand-reading-font);
          color: #ffffff;
          width: fit-content;
          text-transform: capitalize;
          cursor: pointer;
          transition: all 0.2s;
          &:hover {
            background-color: #ffffff;
            color: var(--primary-main);
          }
        }
      }
      .nudge_bot_list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
        .section_heading {
          // text-transform: capitalize;
          // font-family: var(--brand-header-font);
          // font-weight: var(--bold);
          // font-size: var(--brand-card-title-size-s);
          font-style: normal;
          font-family: var(--brand-header-font);
          font-weight: var(--bold);
          // font-weight: 400;
          font-size: var(--brand-card-title-size-s);
        }
      }
    }
  }
}

.nudge_bot {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999999;
  .nudge_bot_circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    cursor: pointer;
    .botProfileImage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .one_tag{
      position: absolute;
      width:15px;
      height: 15px;
      border-radius: 50%;
      background-color: var(--red);
      color: #ffffff;
      top: -2px;
      right: -2px;
      font-family: var(--supernormal-font);
      font-weight: var(--regular);
      font-size: var(--supernormal-size-xs);
      @include elementCenter;
    }
  }

  .bot_welcome_message {
    position: absolute;
    right: 10px;
    bottom: 65px;
    width: 178px;
    height: max-content;
    overflow: hidden;
    animation: 0.5s linear message;
    padding: 20px;
    border-radius: 16px 16px 0 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    font-family: var(--supernormal-font);
    font-weight: var(--regular);
    font-size: var(--supernormal-size-s);
    font-style: normal;
    color: #ffffff;
  }

  .bot_full_circle_message_open {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 215px;
    height: 215px;
    z-index: -1;
    border-radius: 50%;
    padding: 8px;
    @include elementCenter;
    animation: 0.5s linear scale_circle;
    transform-origin: 200px 200px;
    flex-direction: column;
    .full_circle_message {
      color: #ffffff;
      width: fit-content;
      height: fit-content;
      font-family: var(--supernormal-font);
      font-weight: var(--regular);
      font-size: var(--supernormal-size-s);
      font-style: normal;
      line-height: 16px;
      text-align: center;
      margin-bottom: 12px;
      overflow: hidden;
    }
    .stop_now {
      padding: 4px 20px;
      text-transform: capitalize;
      border-radius: 4px;
      border: 1px solid #ffffff;
      color: #ffffff;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      cursor: pointer;
    }
  }

  .bot_full_circle_message_close {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 215px;
    height: 215px;
    z-index: -1;
    border-radius: 50%;
    padding: 8px;
    @include elementCenter;
    transition: all 0.5s linear;
    transform: scale(0);
    transform-origin: 200px 200px;
    flex-direction: column;
    .full_circle_message {
      color: #ffffff;
      width: fit-content;
      height: fit-content;
      font-family: var(--supernormal-font);
      font-weight: var(--regular);
      font-size: var(--supernormal-size-s);
      font-style: normal;
      line-height: 16px;
      text-align: center;
      margin-bottom: 12px;
      overflow: hidden;
    }
    .stop_now {
      padding: 4px 20px;
      text-transform: capitalize;
      border-radius: 4px;
      border: 1px solid #ffffff;
      color: #ffffff;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      cursor: pointer;
    }
  }

  .bot_half_circle_message_open {
    position: fixed;
    right: -160px;
    bottom: -160px;
    width: 423px;
    height: 423px;
    border-radius: 50%;
    animation: 0.5s linear scale_circle;
    transform-origin: 371px 371px;
  
    .half_circle_message {
      height: fit-content;
      width: 50%;
      position: absolute;
      left: 10%;
      top: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .half_circle_profile_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 12px;
        margin-top: 7%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .message {
        font-family: var(--supernormal-font);
        font-weight: var(--regular);
        font-size: var(--supernormal-size-s);
        line-height: 19px;
        margin-bottom: 12px;
        color: #ffffff;
      }
      .stop_now {
        padding: 4px 20px;
        text-transform: capitalize;
        border-radius: 4px;
        border: 1px solid #ffffff;
        color: #ffffff;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        cursor: pointer;
      }
    }
  }

  .bot_half_circle_message_close {
    position: fixed;
    right: -160px;
    bottom: -160px;
    width: 423px;
    height: 423px;
    border-radius: 50%;
    transition: all 0.5s linear;
    transform: scale(0);
    transform-origin: 371px 371px;
   
    .half_circle_message {
      height: fit-content;
      width: 50%;
      position: absolute;
      left: 10%;
      top: 25%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .half_circle_profile_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 12px;
        margin-top: 7%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .message {
        font-style: normal;
        font-family: var(--supernormal-font);
        font-weight: var(--regular);
        font-size: var(--supernormal-size-s);
        line-height: 19px;
        margin-bottom: 12px;
        color: #ffffff;
      }
      .stop_now {
        padding: 4px 20px;
        text-transform: capitalize;
        border-radius: 4px;
        border: 1px solid #ffffff;
        color: #ffffff;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  //   Nudge bot wrapper

  .nudge_bot_wrapper_out_desktop {
    position: absolute;
    right: 5px;
    bottom: 65px;
    width: 400px;
    height: 80vh;
    overflow: hidden;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-main);
    animation: 0.5s ease-in-out PopUp;
    .nudge_bot_popup_out {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
      // &::-webkit-scrollbar {
      //   width: 4px;
      // }
      // &::-webkit-scrollbar-track {
      //   background: #d9d9d9;
      //   max-height: 50%;
      // }
      // &::-webkit-scrollbar-thumb {
      //   background: #1f1f1f;
      // }
      // &::-webkit-scrollbar-button {
      //   height: 150px;
      // }
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        // border-radius: 16px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
      }
      &::-webkit-scrollbar-button {
        display: none;
      }
      @include bot_container;
    }
  }

  .nudge_bot_wrapper_in_desktop {
    position: absolute;
    right: 5px;
    bottom: 65px;
    width: 400px;
    height: 0vh;
    overflow: hidden;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    animation: 0.5s ease-in-out PopDown;
    background-color: var(--primary-main);
    .nudge_bot_popup_in {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
      // &::-webkit-scrollbar {
      //   width: 4px;
      // }
      // &::-webkit-scrollbar-track {
      //   background: #d9d9d9;
      //   max-height: 50%;
      // }
      // &::-webkit-scrollbar-thumb {
      //   background: #1f1f1f;
      // }
      // &::-webkit-scrollbar-button {
      //   height: 150px;
      // }
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        // border-radius: 16px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
      }
      &::-webkit-scrollbar-button {
        display: none;
      }
      @include bot_container;
    }
  }

  .nudge_bot_wrapper_out_mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: visible;
    transition: 0.3s ease;
    background: rgba(26, 26, 26, 0.8);
    .nudge_bot_popup_out {
      position: absolute;
      bottom: 0;
      height: 80vh;
      width: 100%;
      transition: 0.3s ease;
      background-color: var(--primary-main);
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
      // &::-webkit-scrollbar {
      //   width: 4px;
      // }
      // &::-webkit-scrollbar-track {
      //   background: #d9d9d9;
      //   max-height: 50%;
      // }
      // &::-webkit-scrollbar-thumb {
      //   background: #1f1f1f;
      // }
      // &::-webkit-scrollbar-button {
      //   height: 150px;
      // }
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        // border-radius: 16px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
      }
      &::-webkit-scrollbar-button {
        display: none;
      }
      @include bot_container;
    }
  }

  .nudge_bot_wrapper_in_mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: 0.3s ease;
    background: rgba(26, 26, 26, 0.8);
    .nudge_bot_popup_in {
      position: absolute;
      bottom: -100%;
      height: 80vh;
      width: 100%;
      transition: 0.3s ease;
      background-color: var(--primary-main);
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
      // &::-webkit-scrollbar {
      //   width: 4px;
      // }
      // &::-webkit-scrollbar-track {
      //   background: #d9d9d9;
      //   max-height: 50%;
      // }
      // &::-webkit-scrollbar-thumb {
      //   background: #1f1f1f;
      // }
      // &::-webkit-scrollbar-button {
      //   height: 150px;
      // }
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        // border-radius: 16px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
      }
      &::-webkit-scrollbar-button {
        display: none;
      }
      @include bot_container;
    }
  }
}

@media (max-width: 580px) {
  .nudge_bot {
    .nudge_bot_wrapper_out_desktop {
      display: none;
    }
    .nudge_bot_wrapper_in_desktop {
      display: none;
    }
    .nudge_bot_wrapper_out_mobile {
      display: block;
    }
    .nudge_bot_wrapper_in_mobile {
      display: block;
    }
  }
}
