@import "../../fonts/avenir/avenir.css";
@import "../../fonts/raleway/raleway.css";
@import "../../fonts/inter/inter.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes PopUp {
  from {
    height: 0;
  }
  to {
    height: 480px;
  }
}

@keyframes PopUp {
  from {
    height: 0;
  }
  to {
    height: 480px;
  }
}
@-webkit-keyframes PopDown {
  from {
    height: 480px;
  }
  to {
    height: 0;
  }
}
@keyframes PopDown {
  from {
    height: 480px;
  }
  to {
    height: 0;
  }
}
@-webkit-keyframes scale_circle {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scale_circle {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes message {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes message {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.nudge_bot {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.nudge_bot .nudge_bot_circle {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nudge_bot .nudge_bot_circle .botProfileImage {
  width: 50px;
  height: 50px;
}
.nudge_bot .nudge_bot_circle .botProfileImage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.nudge_bot .bot_welcome_message {
  position: absolute;
  right: 10px;
  bottom: 65px;
  width: 178px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
  -webkit-animation: 0.5s linear message;
          animation: 0.5s linear message;
  padding: 12px 8px;
  border-radius: 16px 16px 0 16px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.nudge_bot .bot_full_circle_message {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 215px;
  height: 215px;
  z-index: -1;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: 0.5s linear scale_circle;
          animation: 0.5s linear scale_circle;
  transform-origin: 200px 200px;
  flex-direction: column;
}
.nudge_bot .bot_full_circle_message .full_circle_message {
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 12px;
  overflow: hidden;
}
.nudge_bot .bot_full_circle_message .keep_dancing {
  text-transform: capitalize;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 4px 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
}
.nudge_bot .bot_full_circle_message .know_more {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-decoration: underline;
  color: #ffffff;
  cursor: pointer;
}
.nudge_bot .bot_half_circle_message_open {
  position: fixed;
  right: -160px;
  bottom: -160px;
  width: 423px;
  height: 423px;
  border-radius: 50%;
  -webkit-animation: 0.5s linear scale_circle;
          animation: 0.5s linear scale_circle;
  transform-origin: 371px 371px;
}
.nudge_bot .bot_half_circle_message_open .half_circle_profile_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 12px;
  margin-left: 30%;
  margin-top: 7%;
}
.nudge_bot .bot_half_circle_message_open .half_circle_profile_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.nudge_bot .bot_half_circle_message_open .half_circle_message {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
  position: absolute;
  left: 10%;
  top: 25%;
  text-align: center;
}
.nudge_bot .bot_half_circle_message_open .half_circle_message .message {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 12px;
  color: #ffffff;
}
.nudge_bot .bot_half_circle_message_open .half_circle_message .stop_now {
  padding: 4px 20px;
  text-transform: capitalize;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}
.nudge_bot .bot_half_circle_message_close {
  position: fixed;
  right: -160px;
  bottom: -160px;
  width: 423px;
  height: 423px;
  border-radius: 50%;
  transition: all 0.5s linear;
  transform: scale(0);
  transform-origin: 371px 371px;
}
.nudge_bot .bot_half_circle_message_close .half_circle_profile_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 12px;
  margin-left: 30%;
  margin-top: 7%;
}
.nudge_bot .bot_half_circle_message_close .half_circle_profile_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.nudge_bot .bot_half_circle_message_close .half_circle_message {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
  position: absolute;
  left: 10%;
  top: 25%;
  text-align: center;
}
.nudge_bot .bot_half_circle_message_close .half_circle_message .message {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 12px;
  color: #ffffff;
}
.nudge_bot .bot_half_circle_message_close .half_circle_message .stop_now {
  padding: 4px 20px;
  text-transform: capitalize;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.nudge_bot .nudge_bot_wrapper_out_desktop {
  position: absolute;
  right: 10px;
  bottom: 65px;
  width: 340px;
  height: 480px;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  -webkit-animation: 0.5s ease-in-out PopUp;
          animation: 0.5s ease-in-out PopUp;
}
.nudge_bot .nudge_bot_wrapper_out_desktop .nudge_bot_popup_out {
  height: 480px;
  width: 100%;
}
.nudge_bot .nudge_bot_wrapper_out_desktop .nudge_bot_popup_out .nudge_bot_header {
  width: 100%;
  height: 72px;
  display: flex;
  padding: 20px 16px;
  justify-content: space-between;
}
.nudge_bot .nudge_bot_wrapper_out_desktop .nudge_bot_popup_out .nudge_bot_header .pop_up_profile_image_headline {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nudge_bot .nudge_bot_wrapper_out_desktop .nudge_bot_popup_out .nudge_bot_header .pop_up_profile_image_headline .pop_up_profile_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.689655px solid #e9ecef;
}
.nudge_bot .nudge_bot_wrapper_out_desktop .nudge_bot_popup_out .nudge_bot_header .pop_up_profile_image_headline .pop_up_profile_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.nudge_bot .nudge_bot_wrapper_out_desktop .nudge_bot_popup_out .nudge_bot_header .pop_up_profile_image_headline .pop_up_profile_headline {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
  color: #ffffff;
}
.nudge_bot .nudge_bot_wrapper_out_desktop .nudge_bot_popup_out .nudge_bot_header .close_pop_up_icon {
  cursor: pointer;
}
.nudge_bot .nudge_bot_wrapper_out_desktop .nudge_bot_popup_out .nudge_bot_container {
  width: 100%;
  height: 408px;
  background: #ffffff;
  overflow: auto;
  border-radius: 12px 12px 0 0;
  padding: 12px;
}
.nudge_bot .nudge_bot_wrapper_out_desktop .nudge_bot_popup_out .nudge_bot_container::-webkit-scrollbar {
  width: 4px;
}
.nudge_bot .nudge_bot_wrapper_out_desktop .nudge_bot_popup_out .nudge_bot_container::-webkit-scrollbar-track {
  background: #d9d9d9;
  max-height: 50%;
}
.nudge_bot .nudge_bot_wrapper_out_desktop .nudge_bot_popup_out .nudge_bot_container::-webkit-scrollbar-thumb {
  background: #1f1f1f;
}
.nudge_bot .nudge_bot_wrapper_out_desktop .nudge_bot_popup_out .nudge_bot_container::-webkit-scrollbar-button {
  height: 150px;
}
.nudge_bot .nudge_bot_wrapper_out_desktop .nudge_bot_popup_out .nudge_bot_container .nudge_bot_contact_form {
  background-color: #484848;
  padding: 20px;
  border-radius: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.nudge_bot .nudge_bot_wrapper_in_desktop {
  position: absolute;
  right: 10px;
  bottom: 65px;
  width: 340px;
  height: 0;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  -webkit-animation: 0.5s ease-in-out PopDown;
          animation: 0.5s ease-in-out PopDown;
}
.nudge_bot .nudge_bot_wrapper_in_desktop .nudge_bot_popup_in {
  height: 480px;
  width: 100%;
}
.nudge_bot .nudge_bot_wrapper_in_desktop .nudge_bot_popup_in .nudge_bot_header {
  width: 100%;
  height: 72px;
  display: flex;
  padding: 20px 16px;
  justify-content: space-between;
}
.nudge_bot .nudge_bot_wrapper_in_desktop .nudge_bot_popup_in .nudge_bot_header .pop_up_profile_image_headline {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nudge_bot .nudge_bot_wrapper_in_desktop .nudge_bot_popup_in .nudge_bot_header .pop_up_profile_image_headline .pop_up_profile_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.689655px solid #e9ecef;
}
.nudge_bot .nudge_bot_wrapper_in_desktop .nudge_bot_popup_in .nudge_bot_header .pop_up_profile_image_headline .pop_up_profile_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.nudge_bot .nudge_bot_wrapper_in_desktop .nudge_bot_popup_in .nudge_bot_header .pop_up_profile_image_headline .pop_up_profile_headline {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
  color: #ffffff;
}
.nudge_bot .nudge_bot_wrapper_in_desktop .nudge_bot_popup_in .nudge_bot_header .close_pop_up_icon {
  cursor: pointer;
}
.nudge_bot .nudge_bot_wrapper_in_desktop .nudge_bot_popup_in .nudge_bot_container {
  width: 100%;
  height: 408px;
  background: #ffffff;
  overflow: auto;
  border-radius: 12px 12px 0 0;
  padding: 12px;
}
.nudge_bot .nudge_bot_wrapper_in_desktop .nudge_bot_popup_in .nudge_bot_container::-webkit-scrollbar {
  width: 4px;
}
.nudge_bot .nudge_bot_wrapper_in_desktop .nudge_bot_popup_in .nudge_bot_container::-webkit-scrollbar-track {
  background: #d9d9d9;
  max-height: 50%;
}
.nudge_bot .nudge_bot_wrapper_in_desktop .nudge_bot_popup_in .nudge_bot_container::-webkit-scrollbar-thumb {
  background: #1f1f1f;
}
.nudge_bot .nudge_bot_wrapper_in_desktop .nudge_bot_popup_in .nudge_bot_container::-webkit-scrollbar-button {
  height: 150px;
}
.nudge_bot .nudge_bot_wrapper_in_desktop .nudge_bot_popup_in .nudge_bot_container .nudge_bot_contact_form {
  background-color: #484848;
  padding: 20px;
  border-radius: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.nudge_bot .nudge_bot_wrapper_out_mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  transition: 0.3s ease;
  background: rgba(26, 26, 26, 0.8);
}
.nudge_bot .nudge_bot_wrapper_out_mobile .nudge_bot_popup_out {
  position: absolute;
  bottom: 0;
  height: 480px;
  width: 100%;
  transition: 0.3s ease;
}
.nudge_bot .nudge_bot_wrapper_out_mobile .nudge_bot_popup_out .nudge_bot_header {
  width: 100%;
  height: 72px;
  display: flex;
  padding: 20px 16px;
  justify-content: space-between;
}
.nudge_bot .nudge_bot_wrapper_out_mobile .nudge_bot_popup_out .nudge_bot_header .pop_up_profile_image_headline {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nudge_bot .nudge_bot_wrapper_out_mobile .nudge_bot_popup_out .nudge_bot_header .pop_up_profile_image_headline .pop_up_profile_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.689655px solid #e9ecef;
}
.nudge_bot .nudge_bot_wrapper_out_mobile .nudge_bot_popup_out .nudge_bot_header .pop_up_profile_image_headline .pop_up_profile_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.nudge_bot .nudge_bot_wrapper_out_mobile .nudge_bot_popup_out .nudge_bot_header .pop_up_profile_image_headline .pop_up_profile_headline {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
  color: #ffffff;
}
.nudge_bot .nudge_bot_wrapper_out_mobile .nudge_bot_popup_out .nudge_bot_header .close_pop_up_icon {
  cursor: pointer;
}
.nudge_bot .nudge_bot_wrapper_out_mobile .nudge_bot_popup_out .nudge_bot_container {
  width: 100%;
  height: 408px;
  background: #ffffff;
  overflow: auto;
  border-radius: 12px 12px 0 0;
  padding: 12px;
}
.nudge_bot .nudge_bot_wrapper_out_mobile .nudge_bot_popup_out .nudge_bot_container::-webkit-scrollbar {
  width: 4px;
}
.nudge_bot .nudge_bot_wrapper_out_mobile .nudge_bot_popup_out .nudge_bot_container::-webkit-scrollbar-track {
  background: #d9d9d9;
  max-height: 50%;
}
.nudge_bot .nudge_bot_wrapper_out_mobile .nudge_bot_popup_out .nudge_bot_container::-webkit-scrollbar-thumb {
  background: #1f1f1f;
}
.nudge_bot .nudge_bot_wrapper_out_mobile .nudge_bot_popup_out .nudge_bot_container::-webkit-scrollbar-button {
  height: 150px;
}
.nudge_bot .nudge_bot_wrapper_out_mobile .nudge_bot_popup_out .nudge_bot_container .nudge_bot_contact_form {
  background-color: #484848;
  padding: 20px;
  border-radius: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.nudge_bot .nudge_bot_wrapper_in_mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  transition: 0.3s ease;
  background: rgba(26, 26, 26, 0.8);
}
.nudge_bot .nudge_bot_wrapper_in_mobile .nudge_bot_popup_in {
  position: absolute;
  bottom: -100%;
  height: 480px;
  width: 100%;
  transition: 0.3s ease;
}
.nudge_bot .nudge_bot_wrapper_in_mobile .nudge_bot_popup_in .nudge_bot_header {
  width: 100%;
  height: 72px;
  display: flex;
  padding: 20px 16px;
  justify-content: space-between;
}
.nudge_bot .nudge_bot_wrapper_in_mobile .nudge_bot_popup_in .nudge_bot_header .pop_up_profile_image_headline {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nudge_bot .nudge_bot_wrapper_in_mobile .nudge_bot_popup_in .nudge_bot_header .pop_up_profile_image_headline .pop_up_profile_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.689655px solid #e9ecef;
}
.nudge_bot .nudge_bot_wrapper_in_mobile .nudge_bot_popup_in .nudge_bot_header .pop_up_profile_image_headline .pop_up_profile_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.nudge_bot .nudge_bot_wrapper_in_mobile .nudge_bot_popup_in .nudge_bot_header .pop_up_profile_image_headline .pop_up_profile_headline {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-left: 10px;
  color: #ffffff;
}
.nudge_bot .nudge_bot_wrapper_in_mobile .nudge_bot_popup_in .nudge_bot_header .close_pop_up_icon {
  cursor: pointer;
}
.nudge_bot .nudge_bot_wrapper_in_mobile .nudge_bot_popup_in .nudge_bot_container {
  width: 100%;
  height: 408px;
  background: #ffffff;
  overflow: auto;
  border-radius: 12px 12px 0 0;
  padding: 12px;
}
.nudge_bot .nudge_bot_wrapper_in_mobile .nudge_bot_popup_in .nudge_bot_container::-webkit-scrollbar {
  width: 4px;
}
.nudge_bot .nudge_bot_wrapper_in_mobile .nudge_bot_popup_in .nudge_bot_container::-webkit-scrollbar-track {
  background: #d9d9d9;
  max-height: 50%;
}
.nudge_bot .nudge_bot_wrapper_in_mobile .nudge_bot_popup_in .nudge_bot_container::-webkit-scrollbar-thumb {
  background: #1f1f1f;
}
.nudge_bot .nudge_bot_wrapper_in_mobile .nudge_bot_popup_in .nudge_bot_container::-webkit-scrollbar-button {
  height: 150px;
}
.nudge_bot .nudge_bot_wrapper_in_mobile .nudge_bot_popup_in .nudge_bot_container .nudge_bot_contact_form {
  background-color: #484848;
  padding: 20px;
  border-radius: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 580px) {
  .nudge_bot .nudge_bot_wrapper_out_desktop {
    display: none;
  }
  .nudge_bot .nudge_bot_wrapper_in_desktop {
    display: none;
  }
  .nudge_bot .nudge_bot_wrapper_out_mobile {
    display: block;
  }
  .nudge_bot .nudge_bot_wrapper_in_mobile {
    display: block;
  }
}/*# sourceMappingURL=index.css.map */