.dropdown-wrapper {
  display: grid;
  grid-template-columns: 5fr 0.5fr;
  cursor: pointer;
  grid-column: 1/-1;
  box-sizing: border-box;
  background: #ffffff;
  min-height: 25px;
  border: 1px solid #e4e4e4;
  position: relative;
  box-sizing: border-box;
  margin-top: 15px;
}

.see-more {
  cursor: pointer;
  font-size: 12px;
  font-family: "Inter";
  font-weight: 700;
  color: #1A1A1A;
  opacity: 0.6;
  margin-top: 8px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.select {
  max-width: 95%;
  overflow: hidden;
  padding: 5px;
  font-size: 14px;
  min-height: 25px;
  color: black;
}

.placeholder {
  color: var(--brightness-60);
  font-size: 12px;
}

.hc-search {
  box-sizing: border-box;
  font-size: var(--supernormal-size-m);
  font-family: var(--supernormal-font);
  font-weight: var(--semi-bold);
  border: none;
  width: 100%;
}

.hc-search-container .search-icon {
  opacity: 0.2;
}

.hc-search-container.focused .search-icon {
  opacity: 1;
}

.hc-search:focus {
  outline: blue none 1px;
}

.hc-drop {
  justify-self: center;
  align-self: center;
  fill: var(--brightness-86);
  font-size: 10px;
}

.hc-dropdown {
  grid-column: 1/-1;
  grid-row: 3;
  z-index: 1;
  background: white;
  box-sizing: border-box;
  height: auto;
  overflow: auto;
  font-size: 12px;
  transition: height 0.4s;
  max-height: 45vh;
  display: grid;
  grid-gap: 5px;
  top: 28px;
  left: -1px;
  width: 100%;
  z-index: 10;
}

.version-two .hc-dropdown {
  max-height: 120px;
  overflow: hidden;
  align-items: center;
  transition: max-height 500ms ease-in-out;
}

.empty-checkbox {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  flex-shrink: 0;
  margin-right: 5px;
  opacity: 0.33;
}

.hc-dropdown-text {
  text-overflow: ellipsis;
}

.empty-radio-button {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  margin: 0 2px;
  margin-right: 5px;
}

.filled-checkbox {
  border: none;
  height: 15px;
  flex-shrink: 0;
  opacity: 1;
}

.filled-radio-button {
  border: none;
  height: 15px;
}

.hc-search-container {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-direction: row;
}

.version-two .hc-search-container {
  margin-bottom: 12px;
}

.version-two.hc-dropdown-minimized .hc-search-container {
  margin-bottom: 0;
}

.version-two .hc-dropdown.expanded {
  max-height: 300px;
  overflow: auto;
}

.dropdown-wrapper .hc-dropdown {
  display: none;
}

.hc-dropdown-option {
  padding: 5px;
  box-sizing: border-box;
  display: grid;
  cursor: pointer;
  border-radius: 6px;
  height: auto;
}

.title-description {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
}

.title-description:empty() {
  display: none;
}

.is-selected {
  background: var(--primary-main) !important;
  color: var(--brightness-100);
}

.hc-bar {
  grid-row: 1;
  grid-column: 1/-1;
  background-color: transparent;
  justify-self: right;
  pointer-events: none;
}

.hc-value {
  grid-row: 1;
  grid-column: 1;
}

.version-two .hc-value {
  display: flex;
}

.version-two[data-show_more=false] .see-more {
  display: none;
}

.version-two .hc-dropdown-option {
  opacity: 0.6;
  color: #1A1A1A;
  font-family: "Inter";
  padding-left: 0;
}

.version-two .hc-dropdown-action {
  cursor: pointer;
}

.version-two.hc-dropdown-minimized .hc-dropdown {
  max-height: 0;
  overflow: hidden;
}

.version-two.hc-dropdown-minimized .see-more {
  display: none;
}

.version-two ::-moz-placeholder {
  color: black;
}

.version-two :-ms-input-placeholder {
  color: black;
}

.version-two ::placeholder {
  color: black;
}

.version-two input:focus::-moz-placeholder {
  opacity: 0.2;
}

.version-two input:focus:-ms-input-placeholder {
  opacity: 0.2;
}

.version-two input:focus::placeholder {
  opacity: 0.2;
}

.hc-option-count {
  justify-self: right;
  grid-row: 1;
  grid-column: 2;
}

.hc-dropdown-count {
  height: 20px;
  align-content: end;
  justify-self: baseline;
  font-size: 10px;
  line-height: 10px;
  display: none;
}

.hc-count {
  align-content: end;
  justify-self: baseline;
  font-size: 10px;
  line-height: 10px;
  display: none;
  padding-top: 5px;
}

.container-changed .hc-dropdown-count {
  display: block;
  color: var(--primary-main);
}

.container-changed .hc-count {
  display: block;
  color: var(--primary-main);
}

.hc-label circle {
  fill: var(--brightness-60);
}

.container-changed .hc-label circle {
  fill: var(--primary-main);
}

.hc-dropdown-container {
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  border-radius: 5px !important;
}

.has-dropdown-wrapper.hc-dropdown-container {
  padding: 8px;
}

.hc-value,
.hc-option-count {
  pointer-events: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 6px;
}

.version-two .hc-value {
  border-radius: 0;
}

.reset-filter {
  justify-self: end;
  align-self: end;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0;
  color: var(--brightness-7);
  font-size: 14px;
  text-decoration: underline;
  line-height: 10px;
}

.has-dropdown-wrapper .restore-filter {
  opacity: 0;
  pointer-events: none;
  right: 10px;
}

.has-dropdown-wrapper .reset-filter {
  top: 10px;
  right: 10px;
}

.sort-dropdown {
  width: 150px;
  position: absolute;
  background: var(--brightness-100);
  display: grid;
  max-height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  overflow: scroll;
  top: 25px;
  z-index: 6;
  left: 25px;
}

.sort-visible {
  opacity: 1;
  pointer-events: auto;
}

.hc-tags {
  display: inline-block;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  max-width: 100%;
  position: relative;
  border-radius: 3px;
  font-size: 10px;
  line-height: 12px;
}

.hc-label {
  grid-column: 1/-1;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  font-size: 12px;
  line-height: 12px;
  pointer-events: none;
}

.has-dropdown-wrapper .hc-label {
  font-size: 12px;
  padding: 0;
}

.hc-label .label-changed {
  color: var(--primary-main);
}

.hc-close {
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  top: 5px;
  right: 10px;
}

.hc-close:before,
.hc-close:after {
  position: absolute;
  left: 10px;
  content: " ";
  height: 8px;
  width: 2px;
  background-color: var(--brightness-7);
}

.hc-close:before {
  transform: rotate(45deg);
}

.hc-close:after {
  transform: rotate(-45deg);
}

.is-selected-multiple {
  color: var(--brightness-60);
  pointer-events: none;
}

.version-two .is-selected-multiple {
  color: black;
  pointer-events: auto;
  opacity: 1;
}

.hc-only {
  display: none;
  margin-left: 5px;
  z-index: 10000;
  pointer-events: all;
}

.hc-label svg circle {
  fill: var(--brightness-60);
}

.reset-filter {
  stroke: transparent;
  opacity: 0;
  pointer-events: none;
}

.container-changed .reset-filter {
  stroke: var(--primary-main);
  fill: var(--primary-main);
  opacity: 1;
  pointer-events: auto;
  right: 25px;
}

.container-changed .restore-filter {
  right: 10px;
}

.has-dropdown-wrapper.container-changed {
  padding: 8px;
  background: var(--primary-faded) !important;
}

.circles {
  width: 100%;
  text-align: center;
}

.container-changed .hc-drop {
  fill: var(--brightness-7);
}

.sort-dropdown-options {
  color: var(--brightness-7);
  border-bottom: 1px solid var(--brightness-86);
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}

.option-selected {
  color: var(--brightness-100);
  background: var(--primary-main);
}

.open {
  height: auto;
  border: 1px solid var(--brightness-86);
}

.dropdown-wrapper .open {
  display: unset !important;
}

.close {
  height: 0px;
  border: 0;
}

.version-two .hc-dropdown-count, .version-two .hc-count {
  display: none;
}

.version-two .is-selected {
  opacity: 1;
  background: none !important;
}

.version-two .hc-label {
  display: none;
}

.stripped .see-more,
.stripped .hc-search-container,
.stripped .restore-filter,
.stripped .hc-label,
.stripped .reset-filter {
  display: none;
}

.stripped {
  margin: 0;
}

@media (hover: hover) {
  .hc-dropdown-option.hovered {
    color: var(--brightness-7);
    background: var(--brightness-97);
  }
  .is-selected.hovered {
    color: var(--brightness-100) !important;
  }
  .has-dropdown-wrapper.hc-dropdown-container:hover {
    background: var(--brightness-97);
  }
  .has-dropdown-wrapper.container-changed:hover {
    background: var(--primary-faded) !important;
  }
}
@media only screen and (max-width: 540px) {
  .hc-label svg {
    display: none;
  }
}
@media only screen and (max-width: 460px) {
  .hc-label svg {
    display: none;
  }
  .hc-dropdown {
    max-height: 60vh;
  }
}/*# sourceMappingURL=index.css.map */