@import "../style/mixin";
@import "../style/variable";

@keyframes dots {
  0% {
    opacity: 1;
    // height: 6px;
    // width: 6px;
  }
  25% {
    opacity: 0.6;
    // height: 8px;
    // width: 8px;
  }
  50% {
    opacity: 0.6;
    // height: 8px;
    // width: 8px;
  }
  100% {
    opacity: 1;
    // height: 6px;
    // width: 6px;
  }
}

.primary_button {
  background-color: var(--primary-main);
  border-radius: 8px;
  padding: 8px 16px;
  border: 1px solid var(--primary-main);
  font-style: normal;
  font-weight: var(--extra-bold);
  font-size: var(--brand-reading-size);
  font-family: var(--brand-reading-font);
  color: #ffffff;
  width: fit-content;
  // text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: #ffffff;
    color: var(--primary-main);
  }
}

.secondary_button {
  // text-transform: capitalize;
  width: fit-content;
  border: 1px solid var(--primary-main);
  border-radius: 8px;
  padding: 8px 16px;
  font-style: normal;
  font-weight: var(--extra-bold);
  font-size: var(--brand-reading-size);
  font-family: var(--brand-reading-font);
  color: var(--primary-main);
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: var(--primary-main);
    color: #ffffff;
  }
}

.thank_you_message {
  background-color: var(--brightness-100);
  width: 100%;
  max-height: fit-content;
  position: relative;
}

.open_contact_form {
  width: 100%;
  max-height: fit-content;
  background-color: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
  transition: max-height 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-y: auto;
  background-color: var(--primary-main);
  display: flex;
  flex-direction: column;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    // border-radius: 16px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  .contact_headline_close_form {
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    .headline_description_pic {
      display: flex;
      align-items: center;
      user-select: none;
      .profile_img {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0.689655px solid #e9ecef;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .headline_description {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .headline {
          font-family: var(--brand-header-font);
          font-style: normal;
          font-weight: var(--extra-bold);
          font-size: var(--brand-header-size-s);
          margin-left: 10px;
          color: var(--primary-faded);
        }
        .description {
          font-family: var(--brand-reading-font);
          font-size: var(--brand-reading-size);
          font-style: normal;
          font-weight: var(--medium);
          word-break: break-word;
          margin-left: 10px;
          color: var(--primary-faded);
        }
      }
    }
    .contact_headline {
      font-style: normal;
      font-family: var(--brand-header-font);
      font-weight: var(--bold);
      font-size: var(--brand-card-title-size-s);
    }
    .close_form {
      cursor: pointer;
    }
  }

  .conversational_contact_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--brightness-100);
    flex-grow: 1;
    // height: -webkit-fill-available;
    border-radius: 12px 12px 0 0;
    .three_dots_loader {
      width: 54px;
      height: 38px;
      background-color: var(--brightness-86);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      .all_dots {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        .dot {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: var(--brightness-46);
          &:nth-child(1) {
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0s;
            animation: dots 1.3s infinite;
            animation-delay: 0s;
          }
          &:nth-child(2) {
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.2s;
            animation: dots 1.3s infinite;
            animation-delay: 0.2s;
          }
          &:nth-child(3) {
            -webkit-animation: dot 1.3s infinite;
            -webkit-animation-delay: 0.3s;
            animation: dots 1.3s infinite;
            animation-delay: 0.3s;
          }
        }
      }
    }
    .hello_message {
      width: 100%;
      background-color: var(--brightness-93);
      padding: 12px 16px;
      border-radius: 8px;
      font-family: var(--supernormal-font);
      font-weight: var(--regular);
      line-height: 22px;
      font-size: var(--supernormal-size-s);
      font-style: normal;
      color: var(--brightness-7);
    }
    .form_filling {
      width: 100%;
      background-color: var(--brightness-93);
      padding: 12px 16px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      .filling_info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .info_name {
          font-family: var(--brand-header-font);
          font-weight: var(--bold);
          font-size: 16px;
          line-height: 22px;
          color: var(--brightness-7);
        }
        .info_input {
          width: 100%;
          height: 36px;
          background-color: var(--brightness-100);
          border: 1px solid var(--brightness-86);
          border-radius: 8px;
          input {
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            padding: 12px;
            border-radius: 8px;
          }
        }
      }

      .info_input_area {
        border: 1px solid var(--brightness-86);
        background-color: var(--brightness-100);
        width: 100%;
        border-radius: 8px;
        textarea {
          border: none;
          outline: none;
          width: 100%;
          height: 100%;
          padding: 12px;
          border-radius: 25px;
        }
      }

      .form_dropdown {
        width: 100%;
        border: 1px solid #d9d9d9;
        background-color: var(--brightness-100);
        border-radius: 8px;
        align-items: center;
        padding: 12px;
        outline: none;
        color: #8c8c8c;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
      }
      .form_dropdown_option {
        width: 100%;
        border: 1px solid #d9d9d9;
        background-color: var(--brightness-100);
        border-radius: 8px;
        align-items: center;
        padding: 8px 12px;
        outline: none;
        color: #8c8c8c;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;

        transition: all 0.3s;
      }
      .number_of_info_next {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .number_of_info {
          font-family: var(--supernormal-font);
          font-style: normal;
          font-weight: var(--regular);
          font-size: var(--supernormal-size-s);
          line-height: 15px;
        }
      }
    }
  }
  .traditional_contact_form {
    display: flex;
    flex-direction: column;
    background-color: var(--brightness-100);
    border-radius: 12px 12px 0 0;
    padding: 20px;
    flex-grow: 1;
    .contact_form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .errors {
        margin-top: -0.5rem;
        font-size: var(--supernormal-size-s);
        font-family: var(--supernormal-font);
        font-weight: var(--regular);
        color: red;
      }
      input {
        width: 100%;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        align-items: center;
        padding: 8px 12px;
        outline: none;
        color: #8c8c8c;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
      }
      textarea {
        width: 100%;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        padding: 8px 12px;
        outline: none;
        color: #8c8c8c;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
      }

      .contact_user_name {
        width: 100%;
        margin-bottom: 10px;
      }
      .contact_user_email {
        width: 100%;
        margin-bottom: 10px;
      }

      .form_dropdown {
        width: 100%;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        align-items: center;
        padding: 8px 12px;
        outline: none;
        color: #8c8c8c;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
        cursor: pointer;
      }
      .form_dropdown_option {
        width: 100%;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        align-items: center;
        padding: 8px 12px;
        outline: none;
        color: #8c8c8c;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        margin-top: -0.5rem;
        transition: all 0.3s;
      }
      // .user_selected_value {
      //   background-color: #ffffff;
      //   padding: 8px;
      //   border-radius: 4px;
      // }

      .contact_user_message {
        width: 100%;
        margin-bottom: 10px;
      }
      .submit_close_form_button {
        display: flex;
        justify-content: space-between;
        // .contact_form_button{
        //   margin-right: 10px;
        // }
      }
    }
  }
}

.close_contact_form {
  width: 100%;
  max-height: fit-content;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  transition: all 0.3s ease;
  transition: max-height 0.3s ease;
  .contact_headline_close_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .contact_headline {
      font-style: normal;
      font-family: var(--brand-header-font);
      font-weight: var(--bold);
      font-size: var(--brand-card-title-size-s);
      margin-bottom: 20px;
    }
  }
}
