@import "../../fonts/avenir/avenir.css";
@import "../../fonts/raleway/raleway.css";
@import "../../fonts/inter/inter.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.primary_button {
  background: #707070;
  border-radius: 4px;
  padding: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
  cursor: pointer;
}

.secondary_button {
  text-transform: capitalize;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}

.open_contact_form {
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border-radius: 12px;
  transition: max-height 0.3s ease;
}
.open_contact_form .contact_headline {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 16px;
}
.open_contact_form .contact_form input {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  align-items: center;
  padding: 8px 12px;
  outline: none;
  color: #8c8c8c;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
.open_contact_form .contact_form textarea {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 8px 12px;
  outline: none;
  color: #8c8c8c;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}
.open_contact_form .contact_form .contact_user_name {
  width: 100%;
  margin-bottom: 10px;
}
.open_contact_form .contact_form .contact_user_email {
  width: 100%;
  margin-bottom: 10px;
}
.open_contact_form .contact_form .user_selected_value {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.open_contact_form .contact_form .contact_user_message {
  width: 100%;
  margin-bottom: 10px;
}
.open_contact_form .contact_form .submit_close_form_button {
  display: flex;
}
.open_contact_form .contact_form .submit_close_form_button .contact_form_button {
  margin-right: 10px;
}

.close_contact_form {
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  transition: max-height 0.3s ease;
}
.close_contact_form .contact_headline {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 16px;
}/*# sourceMappingURL=index.css.map */