@import "../style/mixin";
@import "../style/variable";

*,
*:before,
*:after {
  @include initialCode;
}

.reading_experience {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 60px;
  padding: 20px;
  .change_content_wrapper {
    max-height: 80vh;
    position: relative;
    display: flex;
    flex-flow: column;
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      pointer-events: none;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 90%
      );
      width: 100%;
      height: 4em;
    }
    .change_content_heading {
      text-transform: uppercase;
      font-family: $brand-header-font;
      color: #1749b1;
      margin-bottom: 16px;
    }
    .change_content {
      width: 100%;
      flex: 1 1 auto;
      overflow-y: auto;
      border-top: 1px solid #0f3454;
      text-transform: capitalize;
      flex-shrink: 1;

      &::-webkit-scrollbar {
        display: none;
      }
      .content_h1 {
        border-bottom: 1px solid #1749b1;
        display: flex;
        .content_dot {
          width: 10px;
          height: 10px;
          flex-shrink: 0;
          border-radius: 200px;
          background-color: #1749b1;
          margin: 25px 10px 0 0;
          position: relative;
        }
      }

      h1 {
        font-weight: 500;
        font-size: 16px;
        font-family: $supernormal-font;
        margin: 20px 0 0 0;
        cursor: pointer;
      }
      h2,
      h3 {
        font-weight: 500;
        font-size: 16px;
        font-family: $supernormal-font;
        margin: 20px 0 20px 0;
        cursor: pointer;
      }
    }
  }
  .content_wrapper {
    width: 80%;
    .content_h1 {
      width: 100%;
      height: fit-content;
      h1 {
        font-size: 32px;
        font-weight: 600;
        font-family: $brand-reading-font;
        margin: 0 0 30px 0;
        padding: 0;
        text-transform: capitalize;
      }
      h2 {
        font-size: 24px;
        font-weight: 600;
        font-family: $supernormal-font;
        margin-bottom: 20px;
        padding-left: 0;
        text-transform: capitalize;
      }
      h3 {
        font-size: 18px;
        font-weight: 600;
        font-family: $supernormal-font;
        margin-bottom: 20px;
        text-transform: capitalize;
      }
      p {
        font-size: 1.125rem;
        font-weight: 400;
        font-family: $brand-reading-font;
        margin-bottom: 20px;
        line-height: 1.65rem;
      }
    }
  }
}
