@import "../style/mixin";
@import "../style/variable";

*,
*:before,
*:after {
  @include initialCode;
}

@mixin header-font {
  color: var(--primary-main);
  font-weight: 400;
  font-size: 14px;
}

@mixin header {
  font-family: var(--supernormal-font);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

@mixin all-heading-tag {
  .first_heading_tag {
    @include header;
  }
  .second_heading_tag {
    @include header;
  }
  .third_heading_tag {
    @include header;
    margin-left: 20px;
  }
}
.outer_re_out {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: var(--brightness-100);
  box-shadow: 5px 0 5px -2px rgb(0 0 0 / 12%);
  position: absolute;
  left: 0px;
  transition: left 0.3s linear;
  .title_close_icon {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    .re_heading {
      color: var(--brightness-7);
      font-family: var(--brand-header-font);
      font-weight: 800;
      font-size: 18px;
    }
    .close_icon {
      width: 15px;
      height: 14px;
      cursor: pointer;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .all_header_tag {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    padding: 20px;
    @include header-font;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include all-heading-tag;
  }
}

.outer_re_in {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: var(--brightness-100);
  box-shadow: 5px 0 5px -2px rgb(0 0 0 / 12%);
  position: absolute;
  left: -250px;
  transition: left 0.3s linear;
  .title_close_icon {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    .re_heading {
      color: var(--brightness-7);
      font-family: var(--brand-header-font);
      font-weight: 800;
      font-size: 18px;
    }
    .close_icon {
      width: 15px;
      height: 14px;
      cursor: pointer;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  .all_header_tag {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    padding: 20px;
    @include header-font;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include all-heading-tag;
  }
}
