@import "../../fonts/avenir/avenir.css";
@import "../../fonts/raleway/raleway.css";
@import "../../fonts/inter/inter.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tooltipWrapper {
  position: absolute;
  box-shadow: 0 1px 5px 0 var(--brightness-46);
  min-width: var(--col-4);
  max-width: var(--col-8);
  pointer-events: none;
}/*# sourceMappingURL=index.css.map */