@import "../style/mixin";
@import "../style/variable";

*,
*:before,
*:after {
  @include initialCode;
}


.tooltipWrapper{
  position: absolute;
  box-shadow: 0 1px 5px 0 var(--brightness-46);
  min-width: max-content;
  max-width: var(--col-8);
  pointer-events: none;
}
