@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: local("Avenir-Light"),
    url("Avenir-Light.woff2") format("woff2"),
    url("Avenir-Light.woff") format("woff");
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-display: block;
  src:
    local("Avenir-Regular"),
    url("Avenir-Book.woff2") format("woff2"),
    url("Avenir-Book.woff") format("woff");
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src:
    local("Avenir-Roman"),
    url("Avenir-Roman.woff2") format("woff2"),
    url("Avenir-Roman.woff") format("woff");
}


@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src:
    local("Avenir-DemiBold"),
    url("Avenir-Medium.woff2") format("woff2"),
    url("Avenir-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src:
    local("Avenir-Heavy"),
    url("Avenir-Heavy.woff2") format("woff2"),
    url("Avenir-Heavy.woff") format("woff");
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src:
    local("Avenir-Heavy"),
    url("Avenir-Black.woff2") format("woff2"),
    url("Avenir-Black.woff") format("woff");
}