.hamburgerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.hamburgerIcon .iconBar {
  width: 90%;
  height: 15%;
}
.hamburgerIcon .iconBar:first-child {
  border-radius: 10px 10px 0 0;
}
.hamburgerIcon .iconBar:last-child {
  border-radius: 0 0 10px 10px;
}/*# sourceMappingURL=index.css.map */