@import "../style/mixin";
@import "../style/variable";



.hamburgerIcon{
    // width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    // background-color: black;
    .iconBar{
        width: 90%;
        height: 15%;
        // background-color: #ffffff;
        &:first-child{
          border-radius: 10px 10px 0 0;
        }
        &:last-child{
          border-radius: 0 0 10px 10px;
        }
    }
}