.megaWrapper {
  border: 1px solid #eeeeee;
  overflow-y: scroll;
            overflow-x: hidden;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.megaMain {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.megaMain h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #5A5D6B;
}
.megaMain p {
  text-align: justify;
  margin: 10px 0px 20px 0px;
  color: #7E6D81;
  font-family: "Inter", sans-serif;
}

.component {
  margin-top: 10px;
}/*# sourceMappingURL=index.css.map */