@import "../style/mixin";
@import "../style/variable";



.megaWrapper{
    border: 1px solid #eeeeee;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.megaMain{
    height: fit-content;
    h3{
        font-family: $headerFont;
        text-transform: uppercase;
        color: #5A5D6B;
    }
    p{
        text-align: justify;
        margin: 10px 0px 20px 0px;
        color: #7E6D81;
        font-family: $subHeaderFont;
    }
}

.component{
    margin-top: 10px;
}