.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
}

.title {
  font-family: "Raleway", sans-serif;
  margin-top: 5px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: #5A5D6B;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 5px;
}

.column {
  width: 100%;
  display: flex;
  text-transform: capitalize;
}
.column input {
  cursor: pointer;
}
.column .item {
  width: 100%;
  margin-left: 10px;
  font-size: 17px;
  color: #7E6D81;
}

.radio {
  padding: 2px;
  border-radius: 50%;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio .radioCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
}/*# sourceMappingURL=index.css.map */