@import "../style/mixin";
@import "../style/variable";



.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}

.title{
    font-family: $headerFont;
    margin-top: 5px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #5A5D6B;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.main{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 5px;
}

.column{
    width: 100%;
    display: flex;
    text-transform: capitalize;
    input{
        cursor: pointer;
    }

    .item{
        width: 100%;
        margin-left: 10px;
        font-size: 17px;
        color: #7E6D81;
    }
}

.radio{
    padding: 2px;
    border-radius: 50%;
    margin-bottom: 2px;
    @include elementCenter;

    .radioCircle{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        @include elementCenter;
    }
}



input[type='radio']{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
}