.hands_on_table{
    width: 100%;
}

.hands_on_table {
   th{
    font-family: var(--supernormal-font) !important;
    font-weight: var(--semi-bold) !important;
    font-style: normal;
    font-size: var(--supernormal-size-m) !important;
    color: rgba(55,53,47,.8) !important;
    word-break: normal;
    background-color: #f3f3f3 !important;
    div{
        padding: 4px !important;
    }
   }
   td{
    // display: flex;
    font-family: var(--supernormal-font) !important;
    font-weight: var(--regular) !important;
    font-size: var(--supernormal-size-m) !important;
    font-style: normal;
    word-break: break-word;
    color: #000 !important;
    padding: 4px !important;
   }
}


.process {
    height: 5px;
    width: 10px;
    border-radius: 2px;
    margin-top: 10px;
    background: green;
  }


