@import "../style/mixin";
@import "../style/variable";



.switchView{
    position: relative;
    width: 100px;
    .selectedView{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .showView{
            cursor: pointer;
        }
    }
    .viewList{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // border: $border;
        position: absolute;
        width: 150px;
        height: 90px;
        top: 50px;
        z-index: 2;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgb(0 0 0 / 20%);
        .gallery{
            margin-left: 10px;
            text-decoration: none;
            cursor: pointer;
        }
        .list{
            margin-left: 10px;
            text-decoration: none;
            cursor: pointer;
        }
        .table{
            margin-left: 10px;
            text-decoration: none;
            cursor: pointer;
        }
    }
}