@import "../../fonts/avenir/avenir.css";
@import "../../fonts/raleway/raleway.css";
@import "../../fonts/inter/inter.css";
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.switchView {
  position: relative;
  width: 100px;
}
.switchView .selectedView {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.switchView .selectedView .showView {
  cursor: pointer;
}
.switchView .viewList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 150px;
  height: 90px;
  top: 50px;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.switchView .viewList .gallery {
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}
.switchView .viewList .list {
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}
.switchView .viewList .table {
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */