@import "../style/mixin";
@import "../style/variable";

* {
  box-sizing: border-box;
  margin: 0;
}

.hc_outerWrapper {
  position: relative;
  svg {
    vertical-align: middle;
  }
  .credits {
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    text-align: right;
    width: 100%;
    grid-column: 1/-1;
    grid-row: -1;
    color: var(--brightness-60);
    a {
      color: var(--brightness-60);
    }
    .hc-anchor-hide {
      opacity: 0;
      position: absolute;
      z-index: -100;
    }
  }
  .hc_container {
    width: 100% !important;
    max-width: 940px;
    grid-template-columns: repeat(14, 1fr) !important;
    grid-template-rows: auto 1fr;
    grid-row-gap: 20px;
    font-family: Avenir;

    .desktopViewsList{
      flex-shrink: 1000;
    }
    // allFilters
    .allFiltersSection {
      margin-bottom: 8px;
      .filterSectionTitle {
        text-transform: uppercase;
        font-size: var(--supernormal-size-m);
        color: var(--brightness-60);
        font-weight: var(--semi-bold);
        margin-bottom: 16px;
      }
      .allFilters {
        border-top: 1px solid #dcdcdc;
        background-color: #ffffff;
        padding: 6px 0;
      }
    }

    // change views
    .hc_openViewsOption {
      cursor: pointer;
      grid-column: 1/3;
      grid-row: 1;
      width: fit-content;
      margin: auto 0;
      position: relative;
      .hc_viewsNameArticle {
        pointer-events: auto !important;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        border-radius: 4px;
        height: 40px;
        padding: 4px 8px;
        width: fit-content;
        outline: none;
        background-color: inherit;
        font-family: inherit;
        font-size: 12px;
        white-space: nowrap;
        margin: 0;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 3px;
        align-items: center;
        .viewsArticle {
          display: flex;
          align-items: center;
          grid-template-columns: 34px 1fr;
          font-family: var(--supernormal-font);
          font-style: normal;
          font-weight: var(--regular);
          font-size: var(--supernormal-size-s);
          line-height: 14px;
          color: #8c8c8c;
          .viewsName {
            grid-column: 2;
            grid-row: 1;
            padding: 6px;
            align-self: center;
            font-family: var(--supernormal-font);
            font-style: normal;
            font-weight: var(--bold);
            font-size: var(--supernormal-size-s);
            line-height: 14px;
            color: #8c8c8c;
          }
        }
      }
      .hc_viewsOption {
        position: absolute;
        padding: 0px 12px;
        left: 0;
        top: 42px;
        text-decoration: none;
        font-size: 12px;
        background-color: #ffffff;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        z-index: 3;
      }
    }

    // global search box
    .searchBoxFilterLength {
      flex-grow: 1;
      position: relative;
      align-items: center;
      // width: var(--col-12)!important;
      // width: var(--col-12) !important;
      gap: 8px;
      border: 1px solid var(--brightness-86);
      border-radius: 4px;
      padding: 0 4px;
      .filterSearchBox {
        // max-width: var(--col-12) ;
        min-width: 100px;
        height: 38px;
        border: none !important;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 0 8px !important;
        margin: 0;
        font-family: var(--brand-reading-font);
        letter-spacing: 0;
        font-size: var(--brand-header-size-m);
        width: 100%;
        outline: none;
        svg {
          opacity: 0.2;
          display: flex;
          cursor: pointer;
        }
        input {
          border: none;
          font-style: normal;
          font-weight: 400;
          margin-top: 0;
          font-size: 14px;
          line-height: 24px;
          font-family: Inter !important;
          position: relative;
          box-sizing: border-box;
          overflow: hidden;
          padding: 5px;
          min-height: 25px;
          white-space: nowrap;
          text-overflow: ellipsis;
          outline: none;
          width: 100%;
          color: #121212;
        }
        [type="search"]::-webkit-search-cancel-button {
          -webkit-appearance: none;
          cursor: pointer;
          height: 10px;
          width: 10px;
          font-weight: 700;
          color: #dcdcdc;
          opacity: 0.5;
        }

        .globalSearchResetIcon {
          height: fit-content;
        }
      }
      .filterCountLength {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 10px;
        white-space: nowrap;
        border-left: 1px solid var(--brightness-86);
        height: 38px;
        display: flex;
        padding: 0 8px;
        gap: 2px;
        align-items: center;
        justify-content: center;
      }
    }

    // sorting option
    .hc_openSortingOption {
      pointer-events: auto !important;
      border: 1px solid #d9d9d9;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 8px 4px;
      height: 40px;
      width: fit-content;
      position: relative;
      display: flex;
      cursor: pointer;
      .sortText {
        width: fit-content;
        color: #8c8c8c;
        display: grid;
        grid-column-gap: 3px;
        grid-template-columns: 1fr auto;
        grid-column: 2;
        border-radius: 2px;
        font-size: 12px;
        line-height: 12px;
        padding: 5px;
        align-items: center;
        height: fit-content;
        align-self: center;
        .hc_sortTitle {
          width: fit-content;
          // overflow: visible;
          text-transform: capitalize;
          margin-right: 4px;
          white-space: nowrap;
        }
      }
      .hc_sortingOption {
        position: absolute;
        padding: 0px 12px;
        right: 0;
        top: 42px;
        text-decoration: none;
        font-size: 12px;
        background-color: #ffffff;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        z-index: 3;
      }
    }

    // global filter reset
    .hc_filterGlobalReset {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      align-items: center;
      cursor: pointer;
      .filterTitle {
        font-size: 16px;
        font-weight: var(--semi-bold);
        font-family: var(--supernormal-font);
      }
      .globalFilter {
        text-transform: uppercase;
        color: var(--primary-main);
        font-weight: 700;
        font-size: 12px;
        display: flex;
        align-items: center;
      }
    }

    // open filter option button
    .hc_filterNameIcon {
      pointer-events: auto !important;
      border: 1px solid #d9d9d9;
      box-sizing: border-box;
      border-radius: 4px;
      height: 40px;
      padding: 0px 8px;
      white-space: nowrap;
      font-family: inherit;
      width: fit-content;
      outline: none;
      background-color: inherit;
      margin: 0;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 15px;
      align-items: center;
      cursor: pointer;
      .mobileFilterName {
        font-family: var(--supernormal-font);
        font-style: normal;
        font-weight: var(--regular);
        font-size: var(--supernormal-size-s);
        line-height: 14px;
        color: #8c8c8c;
      }
    }

    // desktop parameter option
    .hc_openParameterOption {
      position: relative;
      .hc_parameterNameIcon {
        pointer-events: auto !important;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        border-radius: 4px;
        height: 40px;
        padding: 0px 8px;
        color: #8c8c8c;
        width: fit-content;
        outline: none;
        background-color: inherit;
        font-family: inherit;
        font-size: 12px;
        margin: 0 0 0 10px;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        .parameterName {
          overflow: hidden;
          width: 100px;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-family: var(--supernormal-font);
          font-style: normal;
          font-weight: var(--regular);
          font-size: var(--supernormal-size-s);
          line-height: 14px;
          color: #8c8c8c;
        }
      }
      .hc_parameterOption {
        position: absolute;
        right: 0px;
        top: 42px;
        text-decoration: none;
        font-size: 12px;
        background-color: #ffffff;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        width: 340px;
        overflow: hidden;
        padding: 8px;
        .parameterDropdown {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          font-family: Avenir;
          .parameterDescription {
            padding: 8px;
            .titleReset {
              padding: 4px 0;
              width: 100%;
              height: fit-content;
              display: flex;
              justify-content: space-between;
              .parameterTitle {
                font-family: var(--supernormal-font);
                font-style: normal;
                font-weight: 600;
                font-size: var(--brand-reading-size);
                line-height: 16px;
              }
              .parameterReset {
                cursor: pointer;
                color: #121212;
                text-transform: uppercase;
                color: var(--primary-main);
                font-weight: 700;
                font-size: 12px;
              }
            }
          }
          .allParameterOption {
            max-height: 70vh;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
              width: 8px;
            }
            &::-webkit-scrollbar-track {
              background-color: #f1f1f1;
              border-radius: 16px;
            }
            &::-webkit-scrollbar-thumb {
              background-color: #babac0;
              border-radius: 16px;
            }
            &::-webkit-scrollbar-button {
              display: none;
            }
            .description {
              font-family: var(--supernormal-font);
              font-style: normal;
              font-weight: var(--regular);
              font-size: var(--supernormal-size-s);
              line-height: 16px;
              width: 100%;
              height: fit-content;
              padding: 8px;
            }
          }
        }
      }
    }

    // all Net Weight
    .weightsOption {
      border-top: 1px solid #dcdcdc;
      padding: 8px 0;
    }

    // desktop net weight option
    .hc_openNetWeightOption {
      position: relative;
      .hc_netWeightNameIcon {
        pointer-events: auto !important;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        border-radius: 4px;
        height: 40px;
        padding: 0px 8px;
        color: #8c8c8c;
        width: fit-content;
        outline: none;
        background-color: inherit;
        font-family: inherit;
        font-size: 12px;
        margin: 0 0 0 10px;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        .netWeightNameValue {
          white-space: nowrap;
          font-family: var(--supernormal-font);
          font-style: normal;
          font-weight: var(--regular);
          font-size: var(--supernormal-size-s);
          line-height: 14px;
          color: #8c8c8c;
        }
      }
      .hc_netWeightOption {
        position: absolute;
        right: 0px;
        top: 42px;
        text-decoration: none;
        font-size: 12px;
        background-color: #ffffff;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        width: 340px;
        padding: 16px;
        max-height: fit-content;
        overflow: hidden;
        .netWeightDropdown {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          font-family: Avenir;
          .netWeightDescription {
            padding: 0px 0 8px 0px;
            .titleReset {
              padding: 4px 0;
              width: 100%;
              height: fit-content;
              display: flex;
              justify-content: space-between;
              .netWeightTitleValue {
                text-transform: capitalize;
                font-family: var(--supernormal-font);
                color: #121212;
                font-style: normal;
                font-weight: 600;
                font-size: var(--brand-reading-size);
                line-height: 16px;
              }
              .netWeightReset {
                cursor: pointer;
                text-transform: uppercase;
                color: var(--primary-main);
                font-weight: 700;
                font-size: var(--supernormal-size-s);
              }
            }
          }
          .allNetWeightOptionWithScroll {
            max-height: 70vh;
            padding: 0px 8px 0 0;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
              width: 8px;
            }
            &::-webkit-scrollbar-track {
              background-color: #f1f1f1;
              border-radius: 16px;
            }
            &::-webkit-scrollbar-thumb {
              background-color: #babac0;
              border-radius: 16px;
            }
            &::-webkit-scrollbar-button {
              display: none;
            }
          }

          .allNetWeightOptionWithoutScroll {
            max-height: 70vh;
            padding: 0 8px;
            width: 100%;
            overflow-y: auto;
            &::-webkit-scrollbar {
              background-color: #fff;
              width: 16px;
              display: none;
            }
            &::-webkit-scrollbar-track {
              background-color: #fff;
            }
            &::-webkit-scrollbar-thumb {
              background-color: #babac0;
              border-radius: 16px;
              border: 4px solid #fff;
            }
            &::-webkit-scrollbar-button {
              display: none;
            }
          }
          .description {
            font-family: var(--supernormal-font);
            font-style: normal;
            font-weight: var(--regular);
            font-size: var(--supernormal-size-s);
            line-height: 16px;
            width: 100%;
            height: fit-content;
            padding-bottom: 16px;
            margin-bottom: 4px;
          }
        }
      }
    }

    // top header filter option
    .hc_openTopFilterOption {
      position: relative;
      margin-left: 10px;
      .topHeaderFilter {
        position: absolute;
        width: 340px;
        max-height: fit-content;
        right: 0px;
        top: 42px;
        padding: 16px;
        text-decoration: none;
        font-size: 12px;
        background-color: #ffffff;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        overflow: hidden;
        .topFilters {
          padding: 0 8px 0 0;
          width: 100%;
          max-height: 70vh;
          overflow-y: scroll;
          overflow-x: hidden;

          &::-webkit-scrollbar {
            // background-color: #fff;
            width: 8px;
          }
          &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            border-radius: 16px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #babac0;
            border-radius: 16px;
            // border: 4px solid #fff;
          }
          &::-webkit-scrollbar-button {
            display: none;
          }
          &::-webkit-scrollbar {
            // background-color: #fff;
            width: 8px;
          }
          &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            border-radius: 16px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #babac0;
            border-radius: 16px;
            // border: 4px solid #fff;
          }
          &::-webkit-scrollbar-button {
            display: none;
          }
          .filterDescription {
            font-family: var(--supernormal-font);
            font-style: normal;
            font-weight: var(--regular);
            font-size: var(--supernormal-size-s);
            line-height: 16px;
            margin-bottom: 16px;
          }
          .deActiveFilters {
            font-family: var(--supernormal-font);
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
          }
        }
      }
    }
    .searchSorting {
      flex-grow: 1;
      // flex-shrink: 0;
      width: var(--col-12) !important;
      justify-content: space-between;
      height: 40px;
      margin-bottom: 20px;
      grid-column: 1/-1 !important;
      z-index: 10012;
      justify-self: end;
      grid-column-gap: 20px;
      grid-row: 1;
      grid-auto-columns: fit-content(30%);
      grid-gap: 10px;
      align-items: center;
      .mobileViewsList {
        display: none;
      }

      .sortingFiltering {
        display: flex;
        margin-left: auto;
      }
    }
    .hc_openMobileFilterOption {
      display: none;
      .hc_filterNameIcon {
        pointer-events: auto !important;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        border-radius: 4px;
        height: 40px;
        padding: 0px 8px;
        color: #8c8c8c;
        font-size: 12px;
        font-weight: normal;
        width: fit-content;
        outline: none;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 15px;
        align-items: center;
        .filterNameIcon {
          .mobileFilterName {
            font-family: var(--supernormal-font);
            font-style: normal;
            font-weight: var(--regular);
            font-size: var(--supernormal-size-s);
            line-height: 14px;
            color: #8c8c8c;
          }
        }
      }
    }
    // mobileFilterViewDescription

    .mobileFilterViewDescription {
      width: 100%;
      border-top: 1px solid #000000;
      padding: 16px 0 16px 0;
      .mobileFilterTitle {
        font-family: inter;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
      }
      .filterDescription {
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        font-style: normal;
        margin-bottom: 10px;
      }
      .viewFilterOption {
        cursor: pointer;
        width: fit-content;
        height: 28px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 16px;
        gap: 10px;
        background: #1f1f1f;
        border-radius: 4px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #ffffff;
      }
    }

    // basic filter

    .basicFilter {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 16px 16px 0 0;
      padding: 17px 12px 0 12px;
      background-color: #ffffff;
      .basicFilterBackIcon {
        cursor: pointer;
        width: fit-content;
      }
      .basicFilterTitle {
        font-family: inter;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        margin: 17px 0 17px 0;
      }

      .allBasicFilters {
        width: 100%;
        height: 85%;
        padding-right: 16px;
        overflow-y: scroll;
        overflow-x: hidden;
        .basicFilterDescription {
          margin-bottom: 16px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          color: #000000;
        }
        .deActiveFilterTitle {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          color: #000000;
        }

        &::-webkit-scrollbar {
          width: 4px;
        }
        &::-webkit-scrollbar-track {
          background: #d9d9d9;
        }
        &::-webkit-scrollbar-thumb {
          background: #1f1f1f;
        }
        &::-webkit-scrollbar-button {
          height: 150px;
        }
      }
      .clearAllFilter {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px 0 15px;
        .clearAllButton {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          color: #000000;
          text-decoration: underline;
          cursor: pointer;
        }
        .allMatchValue {
          background: #1f1f1f;
          border-radius: 4px;
          padding: 12px 16px;
          color: #ffffff;
        }
      }
      .clearAllNetWeight {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px 0 15px;
        .clearAllButton {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          color: #000000;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .filterViews {
      // side bar filter
      .hc_filterContainer {
        .hc_filter {
          width: var(--col-4) !important;
          .hc_filterGlobalReset {
            display: flex;
            .searchSorting{
              width: var(--col-8) !important;
            }
            justify-content: space-between;
            margin-bottom: 20px;
            cursor: pointer;
            .filterTitle {
              font-weight: var(--semi-bold);
              font-family: var(--supernormal-font);
              font-style: normal;
              font-size: var(--brand-reading-size);
              line-height: 16px;
            }
            .globalFilter {
              text-transform: uppercase;
              color: var(--primary-main);
              font-weight: 700;
              font-size: 12px;
              display: flex;
              align-items: center;
            }
          }

          .deActiveFiltersTitle {
            font-family: var(--brand-reading-font);
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            margin-bottom: 16px;
            align-items: center;
          }
        }
      }
    }
  }
}

// max-width 580px
@media (max-width: 720px) {
.hc_outerWrapper{
  .hc_container{
    .searchSorting{
      width: var(--col-8) !important;
    }
  }
}  
 
  
}
@media (max-width: 580px) {
  .hc_outerWrapper {
    width: 100% !important;
    // margin-top: 50px;
    .hc_container {
      width: 95% !important;
      .desktopViewsList {
        display: none;
      }

      .filterViews {
        .hc_filterContainer {
          display: none;
        }
        .viewsContainer {
          width: 100vw !important;
          padding: 0;
          margin: 0;
        }
      }

      // desktop net weight option
      .hc_openNetWeightOption {
        display: none;
      }

      // desktop parameter option
      .hc_openParameterOption {
        display: none;
      }

      .searchSorting {
        position: relative;
        width: 90% !important;
        z-index: unset;
        .mobileViewsList {
          display: block;
        }

        // global search filter on mobile view
        .searchBoxFilterLength {
          position: absolute;
          top: -50px;
          left: 0;
          right: 0;
          width: 100% !important;
          .filterSearchBox {
            height: 25px;
          }
        }

        // open top filter option
        .hc_openTopFilterOption {
          display: none;
        }

        // open mobile filter option
        .hc_openMobileFilterOption {
          display: block;
          margin-left: 10px;
          .hc_filterNameIcon {
            cursor: pointer;
          }

          // mobile filter out normal mode
          .hc_mobileFilterContainer_out {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 10000000000000;
            background: rgba(26, 26, 26, 0.8);
            transition: 0.3s ease;
            visibility: visible;
            overflow: hidden;
            .hc_filter {
              width: 100% !important;
              height: 550px;
              overflow-y: hidden;
              position: absolute;
              bottom: 0;
              padding: 17px 12px 0 12px;
              border-radius: 16px 16px 0 0;
              background-color: #ffffff;
              transition: 0.3s ease;
              .allTypeFiltersIconTitle {
                width: 100%;
                height: 100%;
                .filterBackIcon {
                  cursor: pointer;
                  width: fit-content;
                }
                .allTypeFilterTitle {
                  font-family: inter;
                  font-weight: 400;
                  font-size: 24px;
                  margin: 17px 0 17px 0;
                }
                .allTypeFilter {
                  width: 100%;
                  height: 80%;
                  padding-right: 16px;
                  overflow-y: scroll;
                  overflow-x: hidden;
                  &::-webkit-scrollbar {
                    width: 4px;
                  }
                  &::-webkit-scrollbar-track {
                    background: #d9d9d9;
                    max-height: 50%;
                  }
                  &::-webkit-scrollbar-thumb {
                    background: #1f1f1f;
                  }
                  &::-webkit-scrollbar-button {
                    height: 150px;
                  }
                }
              }
            }
          }


          // mobile filter out for Iframe
          .hc_iFrame_mobileFilterContainer_out {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 10000000000000;
            background: rgba(26, 26, 26, 0.8);
            transition: 0.3s ease;
            visibility: visible;
            overflow: hidden;
            .hc_filter {
              width: 100% !important;
              height: 550px;
              overflow-y: hidden;
              position: absolute;
              top: 0;
              padding: 17px 12px 0 12px;
              border-radius:0 0 16px 16px;
              background-color: #ffffff;
              transition: 0.3s ease;
              .allTypeFiltersIconTitle {
                width: 100%;
                height: 100%;
                .filterBackIcon {
                  cursor: pointer;
                  width: fit-content;
                }
                .allTypeFilterTitle {
                  font-family: inter;
                  font-weight: 400;
                  font-size: 24px;
                  margin: 17px 0 17px 0;
                }
                .allTypeFilter {
                  width: 100%;
                  height: 80%;
                  padding-right: 16px;
                  overflow-y: scroll;
                  overflow-x: hidden;
                  &::-webkit-scrollbar {
                    width: 4px;
                  }
                  &::-webkit-scrollbar-track {
                    background: #d9d9d9;
                    max-height: 50%;
                  }
                  &::-webkit-scrollbar-thumb {
                    background: #1f1f1f;
                  }
                  &::-webkit-scrollbar-button {
                    height: 150px;
                  }
                }
              }
            }
          }

          // mobile filter in normal mode
          .hc_mobileFilterContainer_in {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 99999;
            background: rgba(26, 26, 26, 0.8);
            visibility: hidden;
            transition: 0.3s ease;
            overflow: hidden;
            .hc_filter {
              width: 100% !important;
              height: 550px;
              position: absolute;
              bottom: -550px;
              overflow-y: scroll;
              overflow-x: hidden;
              padding: 0 12px 12px 12px;
              border-radius: 16px 16px 0 0;
              background-color: #ffffff;
              transition: 0.3s ease;

              .allTypeFiltersIconTitle {
                width: 100%;
                height: 100%;
                .filterBackIcon {
                  cursor: pointer;
                  width: fit-content;
                }
                .allTypeFilterTitle {
                  font-family: inter;
                  font-weight: 400;
                  font-size: 24px;
                  margin: 17px 0 17px 0;
                }
                .allTypeFilter {
                  width: 100%;
                  height: 80%;
                  padding-right: 16px;
                  overflow-y: scroll;
                  overflow-x: hidden;
                  &::-webkit-scrollbar {
                    width: 4px;
                  }
                  &::-webkit-scrollbar-track {
                    background: #d9d9d9;
                    max-height: 50%;
                  }
                  &::-webkit-scrollbar-thumb {
                    background: #1f1f1f;
                  }
                  &::-webkit-scrollbar-button {
                    height: 150px;
                  }
                }
              }
            }
          }

          // mobile filter in for iFrame
          .hc_iFrame_mobileFilterContainer_in {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 99999;
            background: rgba(26, 26, 26, 0.8);
            visibility: hidden;
            transition: 0.3s ease;
            overflow: hidden;
            .hc_filter {
              width: 100% !important;
              height: 550px;
              position: absolute;
              top: -550px;
              overflow-y: scroll;
              overflow-x: hidden;
              padding: 0 12px 12px 12px;
              border-radius:0 0 16px 16px;
              background-color: #ffffff;
              transition: 0.3s ease;

              .allTypeFiltersIconTitle {
                width: 100%;
                height: 100%;
                .filterBackIcon {
                  cursor: pointer;
                  width: fit-content;
                }
                .allTypeFilterTitle {
                  font-family: inter;
                  font-weight: 400;
                  font-size: 24px;
                  margin: 17px 0 17px 0;
                }
                .allTypeFilter {
                  width: 100%;
                  height: 80%;
                  padding-right: 16px;
                  overflow-y: scroll;
                  overflow-x: hidden;
                  &::-webkit-scrollbar {
                    width: 4px;
                  }
                  &::-webkit-scrollbar-track {
                    background: #d9d9d9;
                    max-height: 50%;
                  }
                  &::-webkit-scrollbar-thumb {
                    background: #1f1f1f;
                  }
                  &::-webkit-scrollbar-button {
                    height: 150px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
