html,
body {
  box-sizing: border-box;
  margin: 0;
}

.hc_outerWrapper {
  position: relative;
  padding-top: 40px;
}
.hc_outerWrapper svg {
  vertical-align: middle;
}
.hc_outerWrapper .credits {
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  text-align: right;
  width: 100%;
  grid-column: 1/-1;
  grid-row: -1;
  color: var(--brightness-60);
}
.hc_outerWrapper .credits .hc-anchor-hide {
  opacity: 0;
  position: absolute;
  z-index: -100;
}
.hc_outerWrapper .hc_container {
  width: 100% !important;
  max-width: 940px;
  grid-template-columns: repeat(14, 1fr) !important;
  grid-template-rows: auto 1fr;
  grid-row-gap: 20px;
  margin-top: 33px;
  font-family: Avenir;
}
.hc_outerWrapper .hc_container .allFiltersSection {
  margin-bottom: 8px;
}
.hc_outerWrapper .hc_container .allFiltersSection .filterSectionTitle {
  text-transform: capitalize;
  font-size: var(--supernormal-size-s);
  color: rgba(55, 53, 47, 0.8);
  font-weight: 500;
  margin-bottom: 16px;
}
.hc_outerWrapper .hc_container .allFiltersSection .allFilters {
  border-top: 1px solid #dcdcdc;
  background-color: #ffffff;
  padding: 6px 0;
}
.hc_outerWrapper .hc_container .hc_openViewsOption {
  cursor: pointer;
  grid-column: 1/3;
  grid-row: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto 0;
  position: relative;
}
.hc_outerWrapper .hc_container .hc_openViewsOption .hc_viewsNameArticle {
  pointer-events: auto !important;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding: 4px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  background-color: inherit;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 3px;
  align-items: center;
}
.hc_outerWrapper .hc_container .hc_openViewsOption .hc_viewsNameArticle .viewsArticle {
  display: flex;
  align-items: center;
  grid-template-columns: 34px 1fr;
  font-family: var(--supernormal-font);
  font-style: normal;
  font-weight: var(--regular);
  font-size: var(--supernormal-size-m);
  line-height: 14px;
  color: #000000;
}
.hc_outerWrapper .hc_container .hc_openViewsOption .hc_viewsNameArticle .viewsArticle .viewsName {
  grid-column: 2;
  grid-row: 1;
  padding: 6px;
  align-self: center;
  font-family: var(--supernormal-font);
  font-style: normal;
  font-weight: var(--regular);
  font-size: var(--supernormal-size-m);
  line-height: 14px;
  color: #000000;
}
.hc_outerWrapper .hc_container .hc_openViewsOption .hc_viewsOption {
  position: absolute;
  padding: 0px 12px;
  left: 0;
  top: 42px;
  text-decoration: none;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  z-index: 3;
}
.hc_outerWrapper .hc_container .searchBoxFilterLength {
  position: relative;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--brightness-86);
  border-radius: 4px;
  padding: 0 4px;
}
.hc_outerWrapper .hc_container .searchBoxFilterLength .filterSearchBox {
  max-width: 400px;
  min-width: 100px;
  height: 40px;
  border: none !important;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 8px !important;
  margin: 0;
}
.hc_outerWrapper .hc_container .searchBoxFilterLength .filterSearchBox svg {
  opacity: 0.2;
  display: flex;
  cursor: pointer;
}
.hc_outerWrapper .hc_container .searchBoxFilterLength .filterSearchBox input {
  border: none;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: Inter !important;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px;
  min-height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  outline: none;
  width: 100%;
  color: #121212;
}
.hc_outerWrapper .hc_container .searchBoxFilterLength .filterSearchBox [type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 10px;
  width: 10px;
  font-weight: 700;
  color: #dcdcdc;
  opacity: 0.5;
}
.hc_outerWrapper .hc_container .searchBoxFilterLength .filterSearchBox .globalSearchResetIcon {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.hc_outerWrapper .hc_container .searchBoxFilterLength .filterCountLength {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  border-left: 1px solid var(--brightness-86);
  height: 40px;
  display: flex;
  padding: 0 8px;
  gap: 2px;
  align-items: center;
  justify-content: center;
}
.hc_outerWrapper .hc_container .hc_openSortingOption {
  pointer-events: auto !important;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 4px;
  height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: flex;
  cursor: pointer;
}
.hc_outerWrapper .hc_container .hc_openSortingOption .sortText {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #8c8c8c;
  display: grid;
  grid-column-gap: 3px;
  grid-template-columns: 1fr auto;
  grid-column: 2;
  border-radius: 2px;
  font-size: 12px;
  line-height: 12px;
  padding: 5px;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
}
.hc_outerWrapper .hc_container .hc_openSortingOption .sortText .hc_sortTitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
  margin-right: 4px;
  white-space: nowrap;
}
.hc_outerWrapper .hc_container .hc_openSortingOption .hc_sortingOption {
  position: absolute;
  padding: 0px 12px;
  right: 0;
  top: 42px;
  text-decoration: none;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  z-index: 3;
}
.hc_outerWrapper .hc_container .hc_filterGlobalReset {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  cursor: pointer;
}
.hc_outerWrapper .hc_container .hc_filterGlobalReset .filterTitle {
  font-size: 16px;
  font-weight: var(--semi-bold);
  font-family: var(--supernormal-font);
}
.hc_outerWrapper .hc_container .hc_filterGlobalReset .globalFilter {
  text-transform: uppercase;
  color: var(--primary-main);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.hc_outerWrapper .hc_container .hc_filterNameIcon {
  pointer-events: auto !important;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding: 0px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  background-color: inherit;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
  align-items: center;
  cursor: pointer;
}
.hc_outerWrapper .hc_container .hc_filterNameIcon .filterNameIcon .mobileFilterName {
  font-family: var(--supernormal-font);
  font-style: normal;
  font-weight: var(--regular);
  font-size: var(--supernormal-size-m);
  line-height: 14px;
  color: #000000;
}
.hc_outerWrapper .hc_container .hc_openParameterOption {
  position: relative;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterNameIcon {
  pointer-events: auto !important;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding: 0px 8px;
  color: #8c8c8c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 12px;
  margin: 0 0 0 10px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterNameIcon .parameterName {
  overflow: hidden;
  width: 80px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: var(--supernormal-font);
  font-style: normal;
  font-weight: var(--regular);
  font-size: var(--supernormal-size-m);
  line-height: 14px;
  color: #000000;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterOption {
  position: absolute;
  right: 0px;
  top: 42px;
  text-decoration: none;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  width: 340px;
  overflow: hidden;
  padding: 8px;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterOption .parameterDropdown {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Avenir;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterOption .parameterDropdown .parameterDescription {
  padding: 8px;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterOption .parameterDropdown .parameterDescription .titleReset {
  padding: 4px 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterOption .parameterDropdown .parameterDescription .titleReset .parameterTitle {
  font-family: var(--supernormal-font);
  font-style: normal;
  font-weight: 600;
  font-size: var(--brand-reading-size);
  line-height: 16px;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterOption .parameterDropdown .parameterDescription .titleReset .parameterReset {
  cursor: pointer;
  color: #121212;
  text-transform: uppercase;
  color: var(--primary-main);
  font-weight: 700;
  font-size: 12px;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterOption .parameterDropdown .allParameterOption {
  max-height: 70vh;
  width: 100%;
  overflow-y: scroll;
            overflow-x: hidden;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterOption .parameterDropdown .allParameterOption::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterOption .parameterDropdown .allParameterOption::-webkit-scrollbar-track {
  background-color: #fff;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterOption .parameterDropdown .allParameterOption::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterOption .parameterDropdown .allParameterOption::-webkit-scrollbar-button {
  display: none;
}
.hc_outerWrapper .hc_container .hc_openParameterOption .hc_parameterOption .parameterDropdown .allParameterOption .description {
  font-family: var(--supernormal-font);
  font-style: normal;
  font-weight: var(--regular);
  font-size: var(--supernormal-size-s);
  line-height: 16px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px;
}
.hc_outerWrapper .hc_container .weightsOption {
  border-top: 1px solid #dcdcdc;
  margin-bottom: 15px;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption {
  position: relative;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightNameIcon {
  pointer-events: auto !important;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding: 0px 8px;
  color: #8c8c8c;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 12px;
  margin: 0 0 0 10px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightNameIcon .netWeightNameValue {
  white-space: nowrap;
  font-family: var(--supernormal-font);
  font-style: normal;
  font-weight: var(--regular);
  font-size: var(--supernormal-size-m);
  line-height: 14px;
  color: #000000;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption {
  position: absolute;
  right: 0px;
  top: 42px;
  text-decoration: none;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  width: 340px;
  padding: 8px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow: hidden;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Avenir;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .netWeightDescription {
  padding: 8px;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .netWeightDescription .titleReset {
  padding: 4px 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .netWeightDescription .titleReset .netWeightTitleValue {
  text-transform: capitalize;
  font-family: var(--supernormal-font);
  color: #121212;
  font-style: normal;
  font-weight: 600;
  font-size: var(--brand-reading-size);
  line-height: 16px;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .netWeightDescription .titleReset .netWeightReset {
  cursor: pointer;
  text-transform: uppercase;
  color: var(--primary-main);
  font-weight: 700;
  font-size: var(--supernormal-size-s);
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .allNetWeightOptionWithScroll {
  max-height: 70vh;
  padding: 0 8px;
  width: 100%;
  overflow-y: auto;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .allNetWeightOptionWithScroll::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .allNetWeightOptionWithScroll::-webkit-scrollbar-track {
  background-color: #fff;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .allNetWeightOptionWithScroll::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .allNetWeightOptionWithScroll::-webkit-scrollbar-button {
  display: none;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .allNetWeightOptionWithoutScroll {
  max-height: 70vh;
  padding: 0 8px;
  width: 100%;
  overflow-y: auto;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .allNetWeightOptionWithoutScroll::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
  display: none;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .allNetWeightOptionWithoutScroll::-webkit-scrollbar-track {
  background-color: #fff;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .allNetWeightOptionWithoutScroll::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .allNetWeightOptionWithoutScroll::-webkit-scrollbar-button {
  display: none;
}
.hc_outerWrapper .hc_container .hc_openNetWeightOption .hc_netWeightOption .netWeightDropdown .description {
  font-family: var(--supernormal-font);
  font-style: normal;
  font-weight: var(--regular);
  font-size: var(--supernormal-size-s);
  line-height: 16px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 16px;
  margin-bottom: 4px;
}
.hc_outerWrapper .hc_container .hc_openTopFilterOption {
  position: relative;
  margin-left: 10px;
}
.hc_outerWrapper .hc_container .hc_openTopFilterOption .topHeaderFilter {
  position: absolute;
  width: 340px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  right: 0px;
  top: 42px;
  padding: 16px 8px 16px 16px;
  text-decoration: none;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  overflow: hidden;
}
.hc_outerWrapper .hc_container .hc_openTopFilterOption .topHeaderFilter .topFilters {
  padding: 0 8px 0 0;
  width: 100%;
  max-height: 70vh;
  overflow-y: scroll;
            overflow-x: hidden;
}
.hc_outerWrapper .hc_container .hc_openTopFilterOption .topHeaderFilter .topFilters::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}
.hc_outerWrapper .hc_container .hc_openTopFilterOption .topHeaderFilter .topFilters::-webkit-scrollbar-track {
  background-color: #fff;
}
.hc_outerWrapper .hc_container .hc_openTopFilterOption .topHeaderFilter .topFilters::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}
.hc_outerWrapper .hc_container .hc_openTopFilterOption .topHeaderFilter .topFilters::-webkit-scrollbar-button {
  display: none;
}
.hc_outerWrapper .hc_container .hc_openTopFilterOption .topHeaderFilter .topFilters .filterDescription {
  font-family: var(--supernormal-font);
  font-style: normal;
  font-weight: var(--regular);
  font-size: var(--supernormal-size-s);
  line-height: 16px;
  margin-bottom: 16px;
}
.hc_outerWrapper .hc_container .hc_openTopFilterOption .topHeaderFilter .topFilters .deActiveFilters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.hc_outerWrapper .hc_container .searchSorting {
  flex-grow: 1;
  flex-shrink: 0;
  width: var(--col-12) !important;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 20px;
  grid-column: 1/-1 !important;
  z-index: 10012;
  justify-self: end;
  grid-column-gap: 20px;
  grid-row: 1;
  grid-auto-columns: fit-content(30%);
  grid-gap: 10px;
  align-items: center;
}
.hc_outerWrapper .hc_container .searchSorting .mobileViewsList {
  display: none;
}
.hc_outerWrapper .hc_container .searchSorting .sortingFiltering {
  display: flex;
  margin-left: auto;
}
.hc_outerWrapper .hc_container .hc_openMobileFilterOption {
  display: none;
}
.hc_outerWrapper .hc_container .hc_openMobileFilterOption .hc_filterNameIcon {
  pointer-events: auto !important;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding: 0px 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  background-color: inherit;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
  align-items: center;
}
.hc_outerWrapper .hc_container .hc_openMobileFilterOption .hc_filterNameIcon .filterNameIcon .mobileFilterName {
  font-family: var(--supernormal-font);
  font-style: normal;
  font-weight: var(--regular);
  font-size: var(--supernormal-size-m);
  line-height: 14px;
  color: #000000 !important;
}
.hc_outerWrapper .hc_container .mobileFilterViewDescription {
  width: 100%;
  border-top: 1px solid #000000;
  padding: 16px 0 16px 0;
}
.hc_outerWrapper .hc_container .mobileFilterViewDescription .mobileFilterTitle {
  font-family: inter;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.hc_outerWrapper .hc_container .mobileFilterViewDescription .filterDescription {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  margin-bottom: 10px;
}
.hc_outerWrapper .hc_container .mobileFilterViewDescription .viewFilterOption {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
  background: #1f1f1f;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}
.hc_outerWrapper .hc_container .basicFilter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 16px 16px 0 0;
  padding: 17px 12px 0 12px;
  background-color: #ffffff;
}
.hc_outerWrapper .hc_container .basicFilter .basicFilterBackIcon {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.hc_outerWrapper .hc_container .basicFilter .basicFilterTitle {
  font-family: inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin: 17px 0 17px 0;
}
.hc_outerWrapper .hc_container .basicFilter .allBasicFilters {
  width: 100%;
  height: 85%;
  padding-right: 16px;
  overflow-y: scroll;
            overflow-x: hidden;
}
.hc_outerWrapper .hc_container .basicFilter .allBasicFilters .basicFilterDescription {
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.hc_outerWrapper .hc_container .basicFilter .allBasicFilters .deActiveFilterTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.hc_outerWrapper .hc_container .basicFilter .allBasicFilters::-webkit-scrollbar {
  width: 4px;
}
.hc_outerWrapper .hc_container .basicFilter .allBasicFilters::-webkit-scrollbar-track {
  background: #d9d9d9;
}
.hc_outerWrapper .hc_container .basicFilter .allBasicFilters::-webkit-scrollbar-thumb {
  background: #1f1f1f;
}
.hc_outerWrapper .hc_container .basicFilter .allBasicFilters::-webkit-scrollbar-button {
  height: 150px;
}
.hc_outerWrapper .hc_container .basicFilter .clearAllFilter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}
.hc_outerWrapper .hc_container .basicFilter .clearAllFilter .clearAllButton {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}
.hc_outerWrapper .hc_container .basicFilter .clearAllFilter .allMatchValue {
  background: #1f1f1f;
  border-radius: 4px;
  padding: 12px 16px;
  color: #ffffff;
}
.hc_outerWrapper .hc_container .basicFilter .clearAllNetWeight {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}
.hc_outerWrapper .hc_container .basicFilter .clearAllNetWeight .clearAllButton {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}
.hc_outerWrapper .hc_container .filterViews .hc_filterContainer .hc_filter {
  width: var(--col-4) !important;
}
.hc_outerWrapper .hc_container .filterViews .hc_filterContainer .hc_filter .hc_filterGlobalReset {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
}
.hc_outerWrapper .hc_container .filterViews .hc_filterContainer .hc_filter .hc_filterGlobalReset .filterTitle {
  font-weight: var(--semi-bold);
  font-family: var(--supernormal-font);
  font-style: normal;
  font-size: var(--brand-reading-size);
  line-height: 16px;
}
.hc_outerWrapper .hc_container .filterViews .hc_filterContainer .hc_filter .hc_filterGlobalReset .globalFilter {
  text-transform: uppercase;
  color: var(--primary-main);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.hc_outerWrapper .hc_container .filterViews .hc_filterContainer .hc_filter .deActiveFiltersTitle {
  font-family: var(--brand-reading-font);
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 16px;
  align-items: center;
}

@media (max-width: 580px) {
  .hc_outerWrapper {
    width: 100% !important;
  }
  .hc_outerWrapper .hc_container {
    width: 95% !important;
  }
  .hc_outerWrapper .hc_container .desktopViewsList {
    display: none;
  }
  .hc_outerWrapper .hc_container .filterViews .hc_filterContainer {
    display: none;
  }
  .hc_outerWrapper .hc_container .filterViews .viewsContainer {
    width: var(--col-10) !important;
    padding: 0;
    margin: 0;
  }
  .hc_outerWrapper .hc_container .hc_openNetWeightOption {
    display: none;
  }
  .hc_outerWrapper .hc_container .hc_openParameterOption {
    display: none;
  }
  .hc_outerWrapper .hc_container .searchSorting {
    position: relative;
    width: 90% !important;
  }
  .hc_outerWrapper .hc_container .searchSorting .mobileViewsList {
    display: block;
  }
  .hc_outerWrapper .hc_container .searchSorting .searchBoxFilterLength {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
  }
  .hc_outerWrapper .hc_container .searchSorting .searchBoxFilterLength .filterSearchBox {
    height: 25px;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openTopFilterOption {
    display: none;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption {
    display: block;
    margin-left: 10px;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_filterNameIcon {
    cursor: pointer;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_out {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    background: rgba(26, 26, 26, 0.8);
    transition: 0.3s ease;
    visibility: visible;
    overflow: hidden;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_out .hc_filter {
    width: 100% !important;
    height: 550px;
    overflow-y: hidden;
    position: absolute;
    bottom: 0;
    padding: 17px 12px 0 12px;
    border-radius: 16px 16px 0 0;
    background-color: #ffffff;
    transition: 0.3s ease;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_out .hc_filter .allTypeFiltersIconTitle {
    width: 100%;
    height: 100%;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_out .hc_filter .allTypeFiltersIconTitle .filterBackIcon {
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_out .hc_filter .allTypeFiltersIconTitle .allTypeFilterTitle {
    font-family: inter;
    font-weight: 400;
    font-size: 24px;
    margin: 17px 0 17px 0;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_out .hc_filter .allTypeFiltersIconTitle .allTypeFilter {
    width: 100%;
    height: 80%;
    padding-right: 16px;
    overflow-y: scroll;
            overflow-x: hidden;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_out .hc_filter .allTypeFiltersIconTitle .allTypeFilter::-webkit-scrollbar {
    width: 4px;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_out .hc_filter .allTypeFiltersIconTitle .allTypeFilter::-webkit-scrollbar-track {
    background: #d9d9d9;
    max-height: 50%;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_out .hc_filter .allTypeFiltersIconTitle .allTypeFilter::-webkit-scrollbar-thumb {
    background: #1f1f1f;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_out .hc_filter .allTypeFiltersIconTitle .allTypeFilter::-webkit-scrollbar-button {
    height: 150px;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_in {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    background: rgba(26, 26, 26, 0.8);
    visibility: hidden;
    transition: 0.3s ease;
    overflow: hidden;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_in .hc_filter {
    width: 100% !important;
    height: 550px;
    position: absolute;
    bottom: -550px;
    overflow-y: scroll;
            overflow-x: hidden;
    padding: 0 12px 12px 12px;
    border-radius: 16px 16px 0 0;
    background-color: #ffffff;
    transition: 0.3s ease;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_in .hc_filter .allTypeFiltersIconTitle {
    width: 100%;
    height: 100%;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_in .hc_filter .allTypeFiltersIconTitle .filterBackIcon {
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_in .hc_filter .allTypeFiltersIconTitle .allTypeFilterTitle {
    font-family: inter;
    font-weight: 400;
    font-size: 24px;
    margin: 17px 0 17px 0;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_in .hc_filter .allTypeFiltersIconTitle .allTypeFilter {
    width: 100%;
    height: 80%;
    padding-right: 16px;
    overflow-y: scroll;
            overflow-x: hidden;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_in .hc_filter .allTypeFiltersIconTitle .allTypeFilter::-webkit-scrollbar {
    width: 4px;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_in .hc_filter .allTypeFiltersIconTitle .allTypeFilter::-webkit-scrollbar-track {
    background: #d9d9d9;
    max-height: 50%;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_in .hc_filter .allTypeFiltersIconTitle .allTypeFilter::-webkit-scrollbar-thumb {
    background: #1f1f1f;
  }
  .hc_outerWrapper .hc_container .searchSorting .hc_openMobileFilterOption .hc_mobileFilterContainer_in .hc_filter .allTypeFiltersIconTitle .allTypeFilter::-webkit-scrollbar-button {
    height: 150px;
  }
}/*# sourceMappingURL=index.css.map */