@import "../style/mixin";
@import "../style/variable";



.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}

.extendedWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vh;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}

.titleSearch{
    margin-top: 5px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #5A5D6B;
    margin-bottom: 10px;
}

.titleSearch h3{
    text-transform: uppercase;
}

.titleSearch .searchValue{
    width: 170px;
    height: 25px;
    outline: none;
    padding-left: 15px;
    border: 1px solid #7E6D81;
    border-radius: 50px;
}

.searchICon{
    @include elementCenter;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #eeeeee;
    cursor: pointer;
}

.searchICon img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.reset{
    width: 25px;
    height: 25px;
    @include elementCenter;
    border-radius: 50%;
    background: #eeeeee;
    cursor: pointer;
    font-size: 15px;
    font-weight: 900;
}

.main{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 5px;
}

.extendedMain{
    width: 90%;
    margin-top: 5px;
    overflow-x: scroll;
    display: grid;
    /* grid-template-rows: repeat(1, 1fr); */
    grid-auto-flow: column;
    
}

.column{
    width: 100%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.column .checkbox{
    width: 18px;
    height: 18px;
    border: 1px solid #7E6D81;
    color: white;
    font-size: 13px;
    border-radius: 3px;
}

input[type='checkbox']{
   appearance: none;
   -webkit-appearance: none;
   height: 16px;
   width: 16px;
   background: transparent;
   z-index: 1;
}

input[type='checkbox']:after{
    content: "✓";
    @include elementCenter;
    color: #ffffff;
}

.column input{
    cursor: pointer;
}
.column .item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 3px;
    margin-left: 10px;
    font-size: 17px;
    color: #7E6D81;
}

.item span{
    color: #BEB4B7;
}

.showMoreBtn{
    cursor: pointer;
    margin-right: 110px;
}

