@import "../style/mixin";
@import "../style/variable";

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}

@mixin card_background {
  background: linear-gradient(
    110deg,
    #e0e0e0 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e0e0e0 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 2s infinite;
}

.list_loading_card {
  width: 100%;
  display: flex;
  gap: 20px;
  border-radius: 12px;
  justify-content: space-between;
  margin-bottom: 20px;
  .left_loading {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
    .formate_loading {
      width: 99px;
      height: 18px;
      border-radius: 12px;
      @include card_background;
    }
    .heading_loading {
      width: 80%;
      height: 16px;
      border-radius: 12px;
      @include card_background;
    }
    .title_loading {
      width: 60%;
      height: 16px;
      border-radius: 12px;
      @include card_background;
    }
    .date_time_loading {
      width: 40%;
      height: 16px;
      border-radius: 12px;
      @include card_background;
    }
  }
  .right_image_loading {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    @include card_background;
    width: 160px;
    height: 96px;
    aspect-ratio: 5/3;
  }
}

//   on loading card
.gallery_card_onLoading {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  .gallery_img_onLoading {
    width: 100%;
    height: 132px;
    position: relative;
    //   background-color: #e0e0e0;
    @include card_background;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 12px 0 0;
    .gallery_formate_onLoading {
      position: absolute;
      left: 0px;
      top: 8px;
      width: 99px;
      height: 18px;
      // background-color: #bdbdbd;
      background: linear-gradient(
        110deg,
        #bdbdbd 30%,
        #f0f0f0 38%,
        #f0f0f0 40%,
        #bdbdbd 48%
      );
      background-size: 200% 100%;
      background-position: 100% 0;
      animation: load 2s infinite;
      border-radius: 0px 4px 4px 0px;
    }
  }
  .gallery_info_onLoading {
    height: 156px;
    display: flex;
    flex-direction: column;
    margin: 12px;
    justify-content: space-between;
    .gallery_headline_onLoading {
      width: 176px;
      height: 16px;
      // background: #e0e0e0;
      @include card_background;
      border-radius: 12px;
      margin-bottom: 16px;
    }
    .gallery_title_onLoading {
      width: 127px;
      height: 16px;
      // background: #e0e0e0;
      @include card_background;
      border-radius: 12px;
    }
    .gallery_author_onLoading {
      width: 112px;
      height: 16px;
      // background: #e0e0e0;
      @include card_background;
      border-radius: 12px;
      margin-bottom: 16px;
    }
    .gallery_date_onLoading {
      width: 85px;
      height: 16px;
      // background: #e0e0e0;
      @include card_background;
      border-radius: 12px;
    }
  }
}
