@import "../style/mixin";
@import "../style/variable";

*,
*:before,
*:after {
  @include initialCode;
}


.tableWrapper {
  width: 100%;
  height: fit-content;
  overflow: auto;
  .tooltip {
  
    position: absolute;
  
    transform: translate(-50%, 50%);
    transition: all 0.5s ease-out;
  }

  .main_bar_container {
    height: 22px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 25px;
    -webkit-box-align: center;
    align-items: center;
    grid-gap: 5px;
    width: 180px;
  }
  .bar_container {
    display: grid;
    width: 100%;
    height: 12px;
    background: var(--brightness-93);
  }
  .bar {
    background: var(--primary-main);
    height: 100%;
  }

  .mainTable {
    width: max-content;
    min-width: 100%;
    table-layout: auto;
    border-top: $border;
    border-bottom: $border;
    border-collapse: collapse;

    .tableTh {
      font-family: var(--supernormal-font);
      font-weight: var(--medium);
      font-style: normal;
      font-size: var(--supernormal-size-m);
      text-transform: none;
      line-height: 17px;
      word-break: normal;
      pointer-events: none;
      color: rgba(55,53,47,.8);
      text-align: start;
      border: $border;
      padding: 10px;
      max-width: 250px;
      background-color: #f3f3f3;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }

    .dataTr {
      table-layout: fixed;
      display: table-row;
      .tableTd {
        display: table-cell;
        font-family: var(--supernormal-font);
        font-weight: var(--regular);
        font-size: var(--supernormal-size-m);
        line-height: 17px;
        color: #000;
        font-style: normal;
        word-break: break-word;
        border: $border;
        padding: 10px;
        max-width: 250px;
        text-transform: none;
        &:first-of-type {
          border-left: none;
        }
        &:last-of-type {
          border-right: none;
        }
      }
    }
  }
  
}
