.tableWrapper {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: auto;
}
.tableWrapper .tooltip {
  box-sizing: border-box;
  position: absolute;
  right: auto;
  transform: translate(-50%, 50%);
  transition: all 0.5s ease-out;
}
.tableWrapper .main_bar_container {
  height: 22px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 25px;
  align-items: center;
  grid-gap: 5px;
  width: 180px;
}
.tableWrapper .bar_container {
  display: grid;
  width: 100%;
  height: 12px;
  background: var(--brightness-93);
}
.tableWrapper .bar {
  background: var(--primary-main);
  height: 100%;
}
.tableWrapper .mainTable {
  width: 100%;
  table-layout: auto;
  text-transform: capitalize;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-collapse: collapse;
}
.tableWrapper .mainTable .tableTh {
  font-family: "Raleway", sans-serif;
  text-align: start;
  border: 1px solid #e4e4e4;
  padding: 10px;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tableWrapper .mainTable .tableTh:first-child {
  border-left: none;
}
.tableWrapper .mainTable .tableTh:last-child {
  border-right: none;
}
.tableWrapper .mainTable .dataTr {
  table-layout: fixed;
}
.tableWrapper .mainTable .dataTr .tableTd {
  font-family: "Inter", sans-serif;
  border: 1px solid #e4e4e4;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tableWrapper .mainTable .dataTr .tableTd:first-of-type {
  border-left: none;
}
.tableWrapper .mainTable .dataTr .tableTd:last-of-type {
  border-right: none;
}/*# sourceMappingURL=index.css.map */