@import "../style/mixin";
@import "../style/variable";



.openForm{
    width: 90%;
    height: fit-content;
    box-shadow: 0 0 15px #DCDCDC;
    padding: 20px;
    .title{
        font-weight: 800;
        font-size: 20px;
        color: #000000;
    }
    .openBtn{
        width: 25%;
    }
}