.openForm {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 0 15px #DCDCDC;
  padding: 20px;
}
.openForm .title {
  font-weight: 800;
  font-size: 20px;
  color: #000000;
}
.openForm .openBtn {
  width: 25%;
}/*# sourceMappingURL=index.css.map */