@import "../style/mixin";
@import "../style/variable";



@keyframes load {
  100% {
    background-position: -100% 0;
  }
}


@mixin card {
  .gallery_card {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #f6f6f6;

    .gallery_card_img {
      width: 100%;
      aspect-ratio: 5/3;
      position: relative;
      @include elementCenter;
      background: #e0e0e0;
      border-radius: 12px 12px 0 0;
      img {
        border-radius: 12px 12px 0 0;
        width: 100%;
        height: 100%;
      }
      .gallery_card_formate {
        padding: 4px 8px;
        background-color: var(--primary-faded);
        color:var(--primary-main);
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        font-family: var(--supernormal-font);
        text-transform: capitalize;
      }
    }
    .gallery_card_info {
      max-height: 156px;
      display: flex;
      flex-direction: column;
      margin: 12px;
      .gallery_card_headline_title {
        margin-bottom: 16px;
        .gallery_card_headline {
          font-family: var(--brand-header-font);
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          color: #000000;
          margin-bottom: 10px;
        }
        .gallery_card_title {
          font-family: var(--supernormal-font);
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          text-transform: capitalize;
        }
      }

      .gallery_card_author_date_title {
        .gallery_card_author {
          font-style: normal;
          font-family: var(--supernormal-font);
          font-weight: 400;
          font-size: 12px;
          color: #808080;
          text-transform: capitalize;
          margin-bottom: 8px;
        }
        .gallery_card_date_title {
          display: flex;
          justify-content: space-between;
          .gallery_card_date {
            font-style: normal;
            font-family: var(--supernormal-font);
            font-weight: 400;
            font-size: 11px;
            color: #808080;
            text-transform: capitalize;
          }
          .gallery_card_title {
            font-family: var(--supernormal-font);
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 12px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

.wrapper_large_gallery {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 460px);
  grid-auto-rows: repeat(minmax(min-content, 312px));
  place-content: center;
  @include card;
  .gallery_card_img { 
    .gallery_card_formate {
      position: absolute;
      top: 20px;
      left: 20px;
      border-radius: 4px;
    }
  }
  .gallery_card_info{
    .gallery_card_headline_title{
      .gallery_card_title {
        display: none;
      }
    }
  }
}
.wrapper_gallery {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-auto-rows: repeat(minmax(min-content, 312px));
  place-content: center;
  @include card;
  .gallery_card_img {
    .gallery_card_formate {
      position: absolute;
      top: 8px;
      left: 0;
      border-radius: 0 4px 4px 0;
    }
  }
  .gallery_card_info{
    .gallery_card_author_date_title{
      .gallery_card_date_title{
        .gallery_card_title {
          display: none;
        }
      }
    }
  }


  .tooltip {
    z-index: 4;
    width: 99px;
    height: 18px;
    box-sizing: border-box;
    position: absolute;
    right: auto;
    transform: translate(-50%, 50%);
    transition: all 0.5s ease-out;
  }

  .modal_window{
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    // align-items: center;
    background: rgba(26,26,26,.8);
    gap: 15px;

    .modal_outer_wrapper{
      padding: 20px 20px 20px 12px;
      height: fit-content;
      overflow: hidden;
      .modal_wrapper{
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 70vh;
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-track {
          background-color: #f1f1f1;
          border-radius: 16px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #babac0;
          border-radius: 16px;
        }
        &::-webkit-scrollbar-button {
          display: none;
        }
        .close_modal_icon{
          position: absolute;
          top: 8px;
          right: 8px;
          @include elementCenter;
          cursor: pointer;
        }
      }
    }
    
   
  }

  //   after loading
}

@media (max-width: 580px) {
  .wrapper_gallery {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .wrapper_large_gallery{
    grid-template-columns: repeat(auto-fill, 100%);
  }
}