.wrapperGallery {
  width: 940px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 460px);
  grid-auto-rows: repeat(minmax(-webkit-min-content, 312px));
  grid-auto-rows: repeat(minmax(min-content, 312px));
  place-content: center;
}
.wrapper_large_gallery .gallery_card {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #f6f6f6;
}
.wrapper_large_gallery .gallery_card .gallery_card_img {
  width: 100%;
  aspect-ratio: 5/3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
  border-radius: 12px 12px 0 0;
}
.wrapper_large_gallery .gallery_card .gallery_card_img img {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 100%;
}
.wrapper_large_gallery .gallery_card .gallery_card_img .gallery_card_formate {
  padding: 4px 8px;
  background: rgba(205, 225, 251, 0.9);
  color: #0052CC;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  font-family: Inter;
  text-transform: capitalize;
}
.wrapper_large_gallery .gallery_card .gallery_card_info {
  max-height: 156px;
  display: flex;
  flex-direction: column;
  margin: 12px;
}
.wrapper_large_gallery .gallery_card .gallery_card_info .gallery_card_headline_title {
  margin-bottom: 16px;
}
.wrapper_large_gallery .gallery_card .gallery_card_info .gallery_card_headline_title .gallery_card_headline {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
}
.wrapper_large_gallery .gallery_card .gallery_card_info .gallery_card_headline_title .gallery_card_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  text-transform: capitalize;
}
.wrapper_large_gallery .gallery_card .gallery_card_info .gallery_card_author_date_title .gallery_card_author {
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  color: #808080;
  text-transform: capitalize;
}
.wrapper_large_gallery .gallery_card .gallery_card_info .gallery_card_author_date_title .gallery_card_date_title {
  display: flex;
  justify-content: space-between;
}
.wrapper_large_gallery .gallery_card .gallery_card_info .gallery_card_author_date_title .gallery_card_date_title .gallery_card_date {
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  font-size: 11px;
  color: #808080;
  text-transform: capitalize;
}
.wrapper_large_gallery .gallery_card .gallery_card_info .gallery_card_author_date_title .gallery_card_date_title .gallery_card_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  text-transform: capitalize;
}
.wrapper_large_gallery .gallery_card_img .gallery_card_formate {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 4px;
}
.wrapper_large_gallery .gallery_card_info .gallery_card_headline_title .gallery_card_title {
  display: none;
}

.wrapper_gallery {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: repeat(minmax(-webkit-min-content, 312px));
  grid-auto-rows: repeat(minmax(min-content, 312px));
  place-content: center;
}
.wrapper_gallery .gallery_card {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #f6f6f6;
}
.wrapper_gallery .gallery_card .gallery_card_img {
  width: 100%;
  aspect-ratio: 5/3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
  border-radius: 12px 12px 0 0;
}
.wrapper_gallery .gallery_card .gallery_card_img img {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 100%;
}
.wrapper_gallery .gallery_card .gallery_card_img .gallery_card_formate {
  padding: 4px 8px;
  background: rgba(205, 225, 251, 0.9);
  color: #0052CC;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  font-family: Inter;
  text-transform: capitalize;
}
.wrapper_gallery .gallery_card .gallery_card_info {
  max-height: 156px;
  display: flex;
  flex-direction: column;
  margin: 12px;
}
.wrapper_gallery .gallery_card .gallery_card_info .gallery_card_headline_title {
  margin-bottom: 16px;
}
.wrapper_gallery .gallery_card .gallery_card_info .gallery_card_headline_title .gallery_card_headline {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
}
.wrapper_gallery .gallery_card .gallery_card_info .gallery_card_headline_title .gallery_card_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  text-transform: capitalize;
}
.wrapper_gallery .gallery_card .gallery_card_info .gallery_card_author_date_title .gallery_card_author {
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  color: #808080;
  text-transform: capitalize;
}
.wrapper_gallery .gallery_card .gallery_card_info .gallery_card_author_date_title .gallery_card_date_title {
  display: flex;
  justify-content: space-between;
}
.wrapper_gallery .gallery_card .gallery_card_info .gallery_card_author_date_title .gallery_card_date_title .gallery_card_date {
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  font-size: 11px;
  color: #808080;
  text-transform: capitalize;
}
.wrapper_gallery .gallery_card .gallery_card_info .gallery_card_author_date_title .gallery_card_date_title .gallery_card_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  text-transform: capitalize;
}
.wrapper_gallery .gallery_card_img .gallery_card_formate {
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 0 4px 4px 0;
}
.wrapper_gallery .gallery_card_info .gallery_card_author_date_title .gallery_card_date_title .gallery_card_title {
  display: none;
}
.wrapper_gallery .tooltip {
  z-index: 4;
  width: 99px;
  height: 18px;
  box-sizing: border-box;
  position: absolute;
  right: auto;
  transform: translate(-50%, 50%);
  transition: all 0.5s ease-out;
}

@media (max-width: 580px) {
  .wrapper_large_gallery {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}/*# sourceMappingURL=index.css.map */