@import "../style/mixin";
@import "../style/variable";

.list_wrapper {
  width: 100%;
  height: fit-content;
  .nudge_list_card {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
    gap: 20px;
    .list_card_info {
      flex-grow: 1;
      .list_card_mobile_formate {
        padding: 4px 8px;
        background-color: var(--primary-faded);
        border-radius: 4px;
        width: fit-content;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        color: var(--primary-main);
        text-transform: capitalize;
        margin-bottom: 10px;
      }
      .list_card_headline {
        font-family: var(--brand-header-font);
        font-style: normal;
        font-weight: var(--bold);
        font-size: 14px;
        margin-bottom: 8px;
        color: #000000;
      }
      .list_author_category {
        font-family: var(--supernormal-font);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: #808080;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 8px;
        // text-transform: lowercase;
        // &::first-letter{
        //   text-transform: capitalize;
        // }
        .list_author{
          text-transform: capitalize;
        }
        .list_category{
          display: inline-block;
          text-transform: lowercase;
          &::first-letter{
            text-transform: capitalize;
          }
        }
      }
      .list_date_time {
        display: flex;
        align-items: center;
        font-family: var(--supernormal-font);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: #808080;
        margin-right: 10px;
        .list_date {
          text-transform: capitalize;
        }
        .list_dot_time {
          display: flex;
          align-items: center;
          margin-left: 5px;
          .list_dot {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #808080;
            margin-right: 5px;
          }
        }
      }
      // display: block;
    }
    .list_card_img {
      position: relative;
      flex-shrink: 0;
      @include elementCenter;
      background: #e0e0e0;
      width: 160px;
      height: fit-content;
      border-radius: 5px;
      height: 96px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
      .list_card_mobile_bookmark {
        cursor: pointer;
        width: 24px;
        height: 24px;
        @include elementCenter;
        position: absolute;
        top: 4px;
        right: 4px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.7);
        display: none;
      }
    }
  }
}

@media (max-width: 580px) {
  .list_wrapper {
    .list_card {
      .list_card_img {
        flex-shrink: 0;
        // img {
        //   width: 100px;
        //   aspect-ratio: 5/3;
        // }
      }
      .list_card_info {
        .list_card_mobile_formate {
          display: block;
        }
        .list_card_info_bookmark {
          .list_card_bookmark {
            display: none;
          }
        }
        .list_card_formate {
          display: none;
        }
      }
      .list_card_img {
        .list_card_mobile_bookmark {
          display: block;
          @include elementCenter;
        }
      }
    }
  }
}
