@import "../style/mixin";
@import "../style/variable";



.textArea{
    border: $border;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    height: fit-content;
    textarea{
        font-family: $subHeaderFont;
        color: #A69587;
        font-size: 15px;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: 10px 15px 0 15px;
        border-radius: 10px;
    }
}