.textArea {
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  width: 100%;
  height: 200px;
  height: -webkit-wfit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.textArea textarea {
  font-family: "Inter", sans-serif;
  color: #A69587;
  font-size: 15px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px 15px 0 15px;
  border-radius: 10px;
}/*# sourceMappingURL=index.css.map */