@mixin boxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin elementCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin initialCode {
  @include boxSizing;
  margin: 0;
  padding: 0;
}
