@import url("../../public/humane.min.css");
@import url("../../fonts/abril/abril.css");
@import url("../../fonts/avenir/avenir.css");
@import url("../../fonts/inter/inter.css");
@import url("../../fonts/raleway/raleway.css");

$border: 1px solid #e4e4e4;
$headerFont: Raleway;
$subHeaderFont:Inter;
$brand-header-font:Avenir;
$supernormal-font:Inter;
$brand-reading-font:Avenir;



// :root {
//   --primary-dark: #0f3454;
//   --primary-main: #5B197B;
//   --primary-pastel: #b9d2ef;
//   --primary-faded: #e5eeff;
//   --secondary-main: #b9d2ef;
//   --brightness-7: #121212;
//   --brightness-20: #333333;
//   --brightness-46: #767676;
//   --brightness-60: #999999;
//   --brightness-86: #dcdcdc;
//   --brightness-93: #ededed;
//   --brightness-97: #f6f6f6;
//   --brightness-100: #ffffff;
//   --red: #d9534f;
//   --extra-bold: 900;
//   --bold: 800;
//   --semi-bold: 600;
//   --medium: 500;
//   --regular: 400;
//   --brand-header-font: Raleway;
//   --brand-header-size-xl: 3.052rem;
//   --brand-header-size-m: 2.441rem;
//   --brand-header-size-s: 1.563rem;
//   --brand-card-title-size-s: 1.25rem;
//   --brand-card-title-size-xs: 0.875rem;
//   --brand-reading-font: Avenir;
//   --brand-reading-size: 1rem;
//   --supernormal-font: Inter;
//   --supernormal-size-m: 14px;
//   --supernormal-size-s: 12px;
//   --supernormal-size-xs: 10px;
//   --content-carousel-card-size: 220px;
// }
