@import "../style/mixin";
@import "../style/variable";



.inputType{
    border: $border;
    border-radius: 10px;
    width: 100%;
    height: 38px;
    background: transparent;
    input{
        font-family: $subHeaderFont;
        font-size: 15px;
        font-weight: 400;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding-left: 15px;
        border-radius: 10px;
        background: transparent;
    }
}