.inputType {
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  width: 100%;
  height: 38px;
  background: transparent;
}
.inputType input {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  border-radius: 10px;
  background: transparent;
}/*# sourceMappingURL=index.css.map */