@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: local("AvenirNext-UltraLight"),
    url("AvenirNext-UltraLight.woff2") format("woff2"),
    url("AvenirNext-UltraLight.woff") format("woff");
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-display: block;
  src:
    local("AvenirNext-Regular"),
    url("FontFont_FF.Mark.Pro.otf") format("opentype"),
    url("AvenirNext-Regular.woff") format("woff");
}


@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src:
    local("Metropolis-Medium"),
    url("Metropolis-Medium.otf") format("opentype"),
    url("AvenirNext-Medium.woff") format("woff");
}


@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src:
    local("Metropolis-SemiBold"),
    url("Metropolis-SemiBold.otf") format("opentype"),
    url("AvenirNext-DemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src:
    local("Metropolis-Bold"),
    url("Metropolis-Bold.otf") format("opentype"),
    url("AvenirNext-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src:
    local("Metropolis-ExtraBold"),
    url("Metropolis-ExtraBold.otf") format("opentype"),
    url("AvenirNext-Heavy.woff2") format("woff2");
}