@import "../../fonts/avenir/avenir.css";
@import "../../fonts/raleway/raleway.css";
@import "../../fonts/inter/inter.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.afterToggleWrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 34px;
  cursor: pointer;
}
.afterToggleWrapper .toggleButton {
  border-radius: 34px;
  width: 30px;
  padding: 3px;
  display: flex;
  transition: all 0.4s;
}
.afterToggleWrapper .toggleButton .toggle {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 16px;
  transition: all 0.4s;
  align-self: end;
}

.beforeToggleWrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 34px;
  cursor: pointer;
}
.beforeToggleWrapper .toggleButton {
  border-radius: 34px;
  width: 30px;
  padding: 3px;
  display: flex;
  transition: all 0.4s;
}
.beforeToggleWrapper .toggleButton .toggle {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.4s;
  align-self: start;
}/*# sourceMappingURL=index.css.map */