@import "../style/mixin";
@import "../style/variable";

*,
*:before,
*:after {
  @include initialCode;
}

.afterToggleWrapper {
  width: fit-content;
  height: fit-content;
  border-radius: 34px;
  cursor: pointer;
  .toggleButton {
    border-radius: 34px;
    width: 25px;
    padding: 3px;
    display: flex;
    transition: all 0.4s;
    .toggle {
      width: 8px;
      height: 8px;
      background-color: #ffffff;
      border-radius: 50%;
      margin-left: 11px;
      transition: all 0.4s;
      align-self: end;
    }
  }
}

.beforeToggleWrapper {
  width: fit-content;
  height: fit-content;
  border-radius: 34px;
  cursor: pointer;
  .toggleButton {
    border-radius: 34px;
    width: 25px;
    padding: 3px;
    display: flex;
    transition: all 0.4s;
    .toggle {
      width: 8px;
      height: 8px;
      background-color: #ffffff;
      border-radius: 50%;
      transition: all 0.4s;
      align-self: start;
    }
  }
}
