@import "../../fonts/avenir/avenir.css";
@import "../../fonts/raleway/raleway.css";
@import "../../fonts/inter/inter.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.closeForm {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #5B197B;
  color: #F0EEF6;
  padding: 20px;
}
.closeForm .titleBack {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 25px;
}
.closeForm .titleBack .closeBtn {
  margin-right: 10px;
  color: #F0EEF6;
  cursor: pointer;
}
.closeForm .titleBack .title {
  margin-left: 10px;
  color: #F0EEF6;
}
.closeForm .questionComment {
  font-weight: 500;
  font-size: 15px;
}/*# sourceMappingURL=index.css.map */