@import "../style/mixin";
@import "../style/variable";



.closeForm{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #5B197B;
    color: #F0EEF6;
    padding: 20px;
    .titleBack{
        display: flex;
        align-items: center;
        font-weight: 900;
        font-size: 25px;
        .closeBtn{
            margin-right: 10px;
            color: #F0EEF6;
            cursor: pointer;
        }
        .title{
            margin-left: 10px;
            color: #F0EEF6;
        }

    }
    .questionComment{
        font-weight: 500;
        font-size: 15px;
    }
}