@import "../style/mixin";
@import "../style/variable";

.map_container{
    position: relative;
    :global(.positive-legend){
        margin-left: auto;
    }
}


:global(.tooltip-title) {
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px
}

:global(.tooltip-table-head) {
    text-decoration: underline
}

:global(.tooltip-table-head),:global(.tooltip-table-values) {
    font-size: 12px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: 2fr
}

:global(.tooltip-table-values) {
    grid-gap: 8px
}
