.listWrapper {
  width: 940px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.list_wrapper .list_card {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
  gap: 20px;
}
.list_wrapper .list_card .list_card_info {
  flex-grow: 1;
  display: block;
}
.list_wrapper .list_card .list_card_info .list_card_mobile_formate {
  display: none;
  padding: 4px 8px;
  background: rgba(205, 225, 251, 0.9);
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color: #0052cc;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.list_wrapper .list_card .list_card_info .list_card_headline {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}
.list_wrapper .list_card .list_card_info .list_card_info_bookmark {
  display: flex;
  justify-content: space-between;
}
.list_wrapper .list_card .list_card_info .list_card_info_bookmark .list_card_date_author_title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.list_wrapper .list_card .list_card_info .list_card_info_bookmark .list_card_date_author_title .list_card_dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #808080;
  margin-right: 5px;
}
.list_wrapper .list_card .list_card_info .list_card_info_bookmark .list_card_date_author_title .list_card_date {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #808080;
  margin-right: 10px;
  text-transform: capitalize;
}
.list_wrapper .list_card .list_card_info .list_card_info_bookmark .list_card_date_author_title .list_card_author {
  text-transform: capitalize;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #808080;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.list_wrapper .list_card .list_card_info .list_card_info_bookmark .list_card_date_author_title .list_card_title {
  text-transform: capitalize;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #8799a9;
  display: flex;
  align-items: center;
}
.list_wrapper .list_card .list_card_info .list_card_info_bookmark .list_card_bookmark {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.4;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list_wrapper .list_card .list_card_info .list_card_formate {
  text-transform: capitalize;
  padding: 4px 8px;
  background: #f6f6f6;
  color: #0f3454;
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
}
.list_wrapper .list_card .list_card_img {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-shrink: 0;
}
.list_wrapper .list_card .list_card_img img {
  width: 160px;
  height: 96px;
  border-radius: 5px;
}
.list_wrapper .list_card .list_card_img .list_card_mobile_bookmark {
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

@media (max-width: 720px) {
  .list_wrapper .list_card .list_card_info .list_card_mobile_formate {
    display: block;
  }
  .list_wrapper .list_card .list_card_info .list_card_info_bookmark .list_card_bookmark {
    display: none;
  }
  .list_wrapper .list_card .list_card_info .list_card_formate {
    display: none;
  }
  .list_wrapper .list_card .list_card_img .list_card_mobile_bookmark {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=index.css.map */