@import "../../fonts/avenir/avenir.css";
@import "../../fonts/raleway/raleway.css";
@import "../../fonts/inter/inter.css";
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes load {
  100% {
    background-position: -100% 0;
  }
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}
.gallery_card_onLoading {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.gallery_card_onLoading .gallery_img_onLoading {
  width: 100%;
  height: 132px;
  position: relative;
  background: linear-gradient(110deg, #e0e0e0 30%, #f0f0f0 38%, #f0f0f0 40%, #e0e0e0 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-animation: load 2s infinite;
          animation: load 2s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px 12px 0 0;
}
.gallery_card_onLoading .gallery_img_onLoading .gallery_formate_onLoading {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 99px;
  height: 18px;
  background: linear-gradient(110deg, #bdbdbd 30%, #f0f0f0 38%, #f0f0f0 40%, #bdbdbd 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-animation: load 2s infinite;
          animation: load 2s infinite;
  border-radius: 0px 4px 4px 0px;
}
.gallery_card_onLoading .gallery_info_onLoading {
  height: 156px;
  display: flex;
  flex-direction: column;
  margin: 12px;
  justify-content: space-between;
}
.gallery_card_onLoading .gallery_info_onLoading .gallery_headline_onLoading {
  width: 176px;
  height: 16px;
  background: linear-gradient(110deg, #e0e0e0 30%, #f0f0f0 38%, #f0f0f0 40%, #e0e0e0 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-animation: load 2s infinite;
          animation: load 2s infinite;
  border-radius: 12px;
  margin-bottom: 16px;
}
.gallery_card_onLoading .gallery_info_onLoading .gallery_title_onLoading {
  width: 127px;
  height: 16px;
  background: linear-gradient(110deg, #e0e0e0 30%, #f0f0f0 38%, #f0f0f0 40%, #e0e0e0 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-animation: load 2s infinite;
          animation: load 2s infinite;
  border-radius: 12px;
}
.gallery_card_onLoading .gallery_info_onLoading .gallery_author_onLoading {
  width: 112px;
  height: 16px;
  background: linear-gradient(110deg, #e0e0e0 30%, #f0f0f0 38%, #f0f0f0 40%, #e0e0e0 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-animation: load 2s infinite;
          animation: load 2s infinite;
  border-radius: 12px;
  margin-bottom: 16px;
}
.gallery_card_onLoading .gallery_info_onLoading .gallery_date_onLoading {
  width: 85px;
  height: 16px;
  background: linear-gradient(110deg, #e0e0e0 30%, #f0f0f0 38%, #f0f0f0 40%, #e0e0e0 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-animation: load 2s infinite;
          animation: load 2s infinite;
  border-radius: 12px;
}/*# sourceMappingURL=index.css.map */